<a href="https://colab.research.google.com/github/Phruetti/DPDM65/blob/main/final-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###ดึงข้อมูลเข้า

In [1]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
data_train = pd.read_csv('/content/drive/MyDrive/DPDM65/train.csv')
data_train

,Unnamed: 0,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,0,676.0,กันยารัตน์ ฟลอร่า วิลล์,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,NaN,0.0,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
1,1,19711.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ศิลา,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
2,2,30146P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,NaN,NaN,...,2.0,1.0,208.0,NaN,NaN,"ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่อ...",NaN,NaN,NaN,NaN
3,3,1899.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,แดงใหญ่,บ้านเดี่ยว,no,no,...,3.0,3.0,145.0,0.0,ไม่ระบุ,ไม่มี,NaN,NaN,NaN,NaN
4,4,23503.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านค้อ,บ้านเดี่ยว,no,no,...,2.0,3.0,114.0,0.0,ตะวันออกเฉียงใต้,ไม่ระบุ,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,2720,5130.0,เดอะ มอร์ ศรีจันทร์ ขอนแก่น,บริษัท วี ไอ พี แกรนด์ จำกัด,ขอนแก่น,เมืองขอนแก่น,พระลับ,บ้านเดี่ยว,no,no,...,6.0,5.0,0.0,1350.0,เหนือ,ตกแต่งครบ,NaN,NaN,NaN,NaN
2721,2721,30284P,NaN,NaN,ขอนแก่น,บ้านแฮด,บ้านแฮด,ที่ดิน,NaN,NaN,...,NaN,NaN,4625.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2722,2722,6326.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
2723,2723,6045.0,กันยารัตน์ การ์เด้นวิว รีสอร์ท,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
2724,2724,18085.0,NaN,NaN,ขอนแก่น,พล,เมืองพล,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN

In [4]:
data_train.describe()

,Unnamed: 0,land wide(m),zip_code,number_of_rai,number_of_va,construct_year,model
count,2725.000000,315.000000,1.741000e+03,2725.000000,2725.000000,0.0,0.0
mean,1362.000000,55.456159,4.635122e+06,3.561101,44.054606,NaN,NaN
std,786.784066,75.585414,1.355348e+08,15.905963,58.956727,NaN,NaN
min,0.000000,4.000000,4.000000e+04,0.000000,0.000000,NaN,NaN
25%,681.000000,12.000000,4.000000e+04,0.000000,5.000000,NaN,NaN
50%,1362.000000,27.500000,4.000000e+04,0.000000,35.000000,NaN,NaN
75%,2043.000000,65.000000,4.013000e+04,0.000000,66.000000,NaN,NaN
max,2724.000000,420.000000,4.000040e+09,458.000000,1656.000000,NaN,NaN

### cleaning data train

In [92]:
import numpy as np

In [91]:
data_train.shape

(2725, 41)

In [90]:
data_train.dtypes

Unnamed: 0              int64
id                     object
project_name           object
company                object
province               object
district               object
sub_district           object
property_type          object
home improvement       object
renovate               object
public utility         object
land type              object
land wide(m)          float64
land long(m)          float64
topsoil                object
corner                 object
zip_code              float64
zone                   object
alley                  object
street                 object
latitude               object
longitude              object
number_of_rai         float64
number_of_ngan        float64
number_of_va          float64
construct_year        float64
model                 float64
sell_price            float64
number_of_unit        float64
number_of_story       float64
number_of_bedroom     float64
number_of_bathroom    float64
number_of_parking     float64
usable_area           float64
central_cost           object
direction              object
furniture              object
building_number        object
number_of_building     object
floor_number           object
parking_percentage     object
dtype: object

In [111]:
data_train['sell_price'] = pd.to_numeric(data_train['sell_price'],errors='coerce')
data_train['number_of_ngan'] = pd.to_numeric(data_train['number_of_ngan'],errors='coerce')
data_train['number_of_unit'] = pd.to_numeric(data_train['number_of_unit'],errors='coerce')
data_train['land long(m)'] = pd.to_numeric(data_train['land long(m)'],errors='coerce')
data_train['number_of_story'] = pd.to_numeric(data_train['number_of_story'],errors='coerce')
data_train['number_of_bedroom'] = pd.to_numeric(data_train['number_of_bedroom'],errors='coerce')
data_train['number_of_bathroom'] = pd.to_numeric(data_train['number_of_bathroom'],errors='coerce')
data_train['number_of_parking'] = pd.to_numeric(data_train['number_of_parking'],errors='coerce')
data_train['usable_area'] = pd.to_numeric(data_train['usable_area'],errors='coerce')

In [9]:
data_train.dtypes

Unnamed: 0              int64
id                     object
project_name           object
company                object
province               object
district               object
sub_district           object
property_type          object
home improvement       object
renovate               object
public utility         object
land type              object
land wide(m)          float64
land long(m)          float64
topsoil                object
corner                 object
zip_code              float64
zone                   object
alley                  object
street                 object
latitude               object
longitude              object
number_of_rai         float64
number_of_ngan        float64
number_of_va          float64
construct_year        float64
model                 float64
sell_price            float64
number_of_unit        float64
number_of_story       float64
number_of_bedroom     float64
number_of_bathroom    float64
number_of_parking     float64
usable_area           float64
central_cost           object
direction              object
furniture              object
building_number        object
number_of_building     object
floor_number           object
parking_percentage     object
dtype: object

In [166]:
data_train.describe()

,Unnamed: 0,land wide(m),land long(m),zip_code,number_of_rai,number_of_ngan,number_of_va,construct_year,model,sell_price,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
count,2725.000000,315.000000,251.000000,1.741000e+03,2725.000000,2724.000000,2725.000000,0.0,0.0,2.715000e+03,8.00000,1162.000000,1866.000000,1613.000000,1408.000000,1807.000000
mean,1362.000000,55.456159,101.519163,4.635122e+06,3.561101,0.698238,44.054606,NaN,NaN,2.837311e+07,187.00000,1.819277,1.587353,1.463732,1.240057,658.507853
std,786.784066,75.585414,118.978390,1.355348e+08,15.905963,4.361887,58.956727,NaN,NaN,7.713639e+08,140.87786,2.143345,2.253417,1.489652,8.321749,8553.396424
min,0.000000,4.000000,2.000000,4.000000e+04,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,681.000000,12.000000,20.000000,4.000000e+04,0.000000,0.000000,5.000000,NaN,NaN,1.450000e+06,64.25000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1362.000000,27.500000,41.000000,4.000000e+04,0.000000,0.000000,35.000000,NaN,NaN,2.590000e+06,170.50000,2.000000,1.000000,1.000000,0.000000,23.000000
75%,2043.000000,65.000000,150.000000,4.013000e+04,0.000000,1.000000,66.000000,NaN,NaN,4.900000e+06,336.50000,2.000000,3.000000,2.000000,2.000000,150.000000
max,2724.000000,420.000000,644.000000,4.000040e+09,458.000000,145.000000,1656.000000,NaN,NaN,4.000000e+10,347.00000,37.000000,40.000000,16.000000,288.000000,232000.000000

In [11]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2725 entries, 0 to 2724
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          2725 non-null   int64
 1   id                  2725 non-null   object
 2   project_name        621 non-null    object
 3   company             419 non-null    object
 4   province            2723 non-null   object
 5   district            2721 non-null   object
 6   sub_district        2541 non-null   object
 7   property_type       2725 non-null   object
 8   home improvement    1606 non-null   object
 9   renovate            1587 non-null   object
 10  public utility      804 non-null    object
 11  land type           310 non-null    object
 12  land wide(m)        315 non-null    float64
 13  land long(m)        251 non-null    float64
 14  topsoil             510 non-null    object
 15  corner              485 non-null    object
 16  zip_code            1741 non-null   float64
 17  zone                1646 non-null   object
 18  alley               310 non-null    object
 19  street              908 non-null    object
 20  latitude            2700 non-null   object
 21  longitude           2698 non-null   object
 22  number_of_rai       2725 non-null   float64
 23  number_of_ngan      2724 non-null   float64
 24  number_of_va        2725 non-null   float64
 25  construct_year      0 non-null      float64
 26  model               0 non-null      float64
 27  sell_price          2715 non-null   float64
 28  number_of_unit      8 non-null      float64
 29  number_of_story     1162 non-null   float64
 30  number_of_bedroom   1866 non-null   float64
 31  number_of_bathroom  1613 non-null   float64
 32  number_of_parking   1408 non-null   float64
 33  usable_area         1807 non-null   float64
 34  central_cost        1165 non-null   object
 35  direction           1824 non-null   object
 36  furniture           2162 non-null   object
 37  building_number     43 non-null     object
 38  number_of_building  8 non-null      object
 39  floor_number        410 non-null    object
 40  parking_percentage  13 non-null     object
dtypes: float64(15), int64(1), object(25)
memory usage: 873.0+ KB

In [12]:
 data_train.fillna(0)

,Unnamed: 0,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,0,676.0,กันยารัตน์ ฟลอร่า วิลล์,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0,ไม่ระบุ,ไม่ระบุ,0,0,0,0
1,1,19711.0,0,0,ขอนแก่น,เมืองขอนแก่น,ศิลา,ที่ดิน,0,0,...,0.0,0.0,0.0,0,ไม่ระบุ,ไม่ระบุ,0,0,0,0
2,2,30146P,0,0,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,0,0,...,2.0,1.0,208.0,0,0,"ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่อ...",0,0,0,0
3,3,1899.0,0,0,ขอนแก่น,เมืองขอนแก่น,แดงใหญ่,บ้านเดี่ยว,no,no,...,3.0,3.0,145.0,0.0,ไม่ระบุ,ไม่มี,0,0,0,0
4,4,23503.0,0,0,ขอนแก่น,เมืองขอนแก่น,บ้านค้อ,บ้านเดี่ยว,no,no,...,2.0,3.0,114.0,0.0,ตะวันออกเฉียงใต้,ไม่ระบุ,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,2720,5130.0,เดอะ มอร์ ศรีจันทร์ ขอนแก่น,บริษัท วี ไอ พี แกรนด์ จำกัด,ขอนแก่น,เมืองขอนแก่น,พระลับ,บ้านเดี่ยว,no,no,...,6.0,5.0,0.0,1350.0,เหนือ,ตกแต่งครบ,0,0,0,0
2721,2721,30284P,0,0,ขอนแก่น,บ้านแฮด,บ้านแฮด,ที่ดิน,0,0,...,0.0,0.0,4625.0,0,0,0,0,0,0,0
2722,2722,6326.0,0,0,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,0,0,0.0,0
2723,2723,6045.0,กันยารัตน์ การ์เด้นวิว รีสอร์ท,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,0,0,0.0,0
2724,2724,18085.0,0,0,ขอนแก่น,พล,เมืองพล,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,0,0,0,0

In [13]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2725 entries, 0 to 2724
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          2725 non-null   int64
 1   id                  2725 non-null   object
 2   project_name        621 non-null    object
 3   company             419 non-null    object
 4   province            2723 non-null   object
 5   district            2721 non-null   object
 6   sub_district        2541 non-null   object
 7   property_type       2725 non-null   object
 8   home improvement    1606 non-null   object
 9   renovate            1587 non-null   object
 10  public utility      804 non-null    object
 11  land type           310 non-null    object
 12  land wide(m)        315 non-null    float64
 13  land long(m)        251 non-null    float64
 14  topsoil             510 non-null    object
 15  corner              485 non-null    object
 16  zip_code            1741 non-null   float64
 17  zone                1646 non-null   object
 18  alley               310 non-null    object
 19  street              908 non-null    object
 20  latitude            2700 non-null   object
 21  longitude           2698 non-null   object
 22  number_of_rai       2725 non-null   float64
 23  number_of_ngan      2724 non-null   float64
 24  number_of_va        2725 non-null   float64
 25  construct_year      0 non-null      float64
 26  model               0 non-null      float64
 27  sell_price          2715 non-null   float64
 28  number_of_unit      8 non-null      float64
 29  number_of_story     1162 non-null   float64
 30  number_of_bedroom   1866 non-null   float64
 31  number_of_bathroom  1613 non-null   float64
 32  number_of_parking   1408 non-null   float64
 33  usable_area         1807 non-null   float64
 34  central_cost        1165 non-null   object
 35  direction           1824 non-null   object
 36  furniture           2162 non-null   object
 37  building_number     43 non-null     object
 38  number_of_building  8 non-null      object
 39  floor_number        410 non-null    object
 40  parking_percentage  13 non-null     object
dtypes: float64(15), int64(1), object(25)
memory usage: 873.0+ KB

In [14]:
data1_train= data_train.iloc[:,[False, False, False, False, False, False, False, False, False, False, False, False, True, True, False, False, False, False, False, False, False, False, True, True, True, True, False, True, True, True, True, True, True, True, False, False, False, False, False, False, False]]

In [15]:
data1_train.dtypes

land wide(m)          float64
land long(m)          float64
number_of_rai         float64
number_of_ngan        float64
number_of_va          float64
construct_year        float64
sell_price            float64
number_of_unit        float64
number_of_story       float64
number_of_bedroom     float64
number_of_bathroom    float64
number_of_parking     float64
usable_area           float64
dtype: object

In [35]:
data11_train=data1_train.fillna(0)
data11_train

,land wide(m),land long(m),number_of_rai,number_of_ngan,number_of_va,construct_year,sell_price,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
0,0.0,0.0,0.0,0.0,98.4,0.0,2860000.0,0.0,0.0,0.0,0.0,0.0,0.0
1,24.0,69.0,3.0,0.0,72.0,0.0,17490000.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,52.0,0.0,2800000.0,0.0,1.0,3.0,2.0,1.0,208.0
3,0.0,0.0,0.0,0.0,40.0,0.0,2600000.0,0.0,2.0,3.0,3.0,3.0,145.0
4,0.0,0.0,0.0,0.0,50.0,0.0,1490000.0,0.0,1.0,2.0,2.0,3.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,0.0,0.0,0.0,0.0,135.0,0.0,12500000.0,0.0,2.0,5.0,6.0,5.0,0.0
2721,0.0,0.0,11.0,2.0,25.0,0.0,8671875.0,0.0,0.0,0.0,0.0,0.0,4625.0
2722,0.0,0.0,0.0,0.0,58.0,0.0,1400000.0,0.0,0.0,0.0,0.0,0.0,0.0
2723,0.0,0.0,0.0,0.0,78.0,0.0,2915000.0,0.0,0.0,0.0,0.0,0.0,0.0
2724,0.0,0.0,0.0,0.0,32.0,0.0,1045000.0,0.0,1.0,0.0,0.0,0.0,0.0

In [34]:
data11_train

,land wide(m),land long(m),number_of_rai,number_of_ngan,number_of_va,construct_year,sell_price,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
0,0.0,0.0,0.0,0.0,98.4,0.0,2860000.0,0.0,0.0,0.0,0.0,0.0,0.0
1,24.0,69.0,3.0,0.0,72.0,0.0,17490000.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,52.0,0.0,2800000.0,0.0,1.0,3.0,2.0,1.0,208.0
3,0.0,0.0,0.0,0.0,40.0,0.0,2600000.0,0.0,2.0,3.0,3.0,3.0,145.0
4,0.0,0.0,0.0,0.0,50.0,0.0,1490000.0,0.0,1.0,2.0,2.0,3.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,0.0,0.0,0.0,0.0,135.0,0.0,12500000.0,0.0,2.0,5.0,6.0,5.0,0.0
2721,0.0,0.0,11.0,2.0,25.0,0.0,8671875.0,0.0,0.0,0.0,0.0,0.0,4625.0
2722,0.0,0.0,0.0,0.0,58.0,0.0,1400000.0,0.0,0.0,0.0,0.0,0.0,0.0
2723,0.0,0.0,0.0,0.0,78.0,0.0,2915000.0,0.0,0.0,0.0,0.0,0.0,0.0
2724,0.0,0.0,0.0,0.0,32.0,0.0,1045000.0,0.0,1.0,0.0,0.0,0.0,0.0

###data test

In [32]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [42]:
data_test = pd.read_csv('/content/drive/MyDrive/DPDM65/test10nov_X.csv')
data_test

,INDEX,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,2725,10441P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2726,520.0,NaN,NaN,ขอนแก่น,ชุมแพ,ไชยสอ,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
2,2727,6340.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,คอนโด,no,no,...,0.0,NaN,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,0.0
3,2728,17032.0,NaN,NaN,ขอนแก่น,หนองเรือ,โนนทอง,บ้านเดี่ยว,no,no,...,2.0,1.0,133.0,0.0,ตะวันออกเฉียงเหนือ,ไม่ระบุ,NaN,NaN,NaN,NaN
4,2729,18091.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,คอนโด,no,no,...,1.0,NaN,46.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2920,6040.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านเป็ด,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
196,2921,681.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,พระลับ,อาคารพาณิชย์/สำนักงาน,no,no,...,NaN,NaN,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
197,2922,1182.0,NaN,NaN,ขอนแก่น,ชุมแพ,หนองไผ่,บ้านเดี่ยว,NaN,NaN,...,NaN,0.0,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
198,2923,18567.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ท่าพระ,บ้านเดี่ยว,no,no,...,1.0,1.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
199,2924,20219P,บ้านพฤกษา แอร์พอร์ต มะลิวัลย์,บริษัท พฤกษา เรียลเอสเตท จำกัด (มหาชน),ขอนแก่น,มัญจาคีรี,โพนเพ็ก,บ้านเดี่ยว,yes,no,...,2.0,2.0,NaN,NaN,NaN,ครบครัน,NaN,NaN,NaN,NaN

In [36]:
data_test.shape

(200, 40)

In [43]:
data_test.dtypes

INDEX                   int64
id                     object
project_name           object
company                object
province               object
district               object
sub_district           object
property_type          object
home improvement       object
renovate               object
public utility         object
land type              object
land wide(m)          float64
land long(m)          float64
topsoil                object
corner                 object
zip_code              float64
zone                   object
alley                  object
street                 object
latitude               object
longitude             float64
number_of_rai         float64
number_of_ngan        float64
number_of_va          float64
construct_year        float64
model                 float64
number_of_unit         object
number_of_story       float64
number_of_bedroom     float64
number_of_bathroom    float64
number_of_parking     float64
usable_area           float64
central_cost           object
direction              object
furniture              object
building_number        object
number_of_building     object
floor_number           object
parking_percentage    float64
dtype: object

In [107]:
data1_test=data_test[['land wide(m)',	'land long(m)',	'number_of_rai',	'number_of_ngan',	'number_of_va',	'number_of_unit',	'number_of_story',	'number_of_bedroom',	'number_of_bathroom',	'number_of_parking',	'usable_area','parking_percentage']]

In [108]:
data1_test

,land wide(m),land long(m),number_of_rai,number_of_ngan,number_of_va,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area,parking_percentage
0,NaN,NaN,9.0,3.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,1.0,0.0,26.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,NaN,NaN,0.0,0.0,32.0,NaN,NaN,0.0,0.0,NaN,0.0,0.0
3,NaN,NaN,0.0,0.0,75.0,NaN,1.0,1.0,2.0,1.0,133.0,NaN
4,NaN,NaN,0.0,0.0,0.0,NaN,NaN,1.0,1.0,NaN,46.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
195,NaN,NaN,0.0,0.0,69.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN
196,NaN,NaN,0.0,0.0,20.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN
197,NaN,NaN,0.0,1.0,21.0,NaN,NaN,0.0,NaN,0.0,0.0,NaN
198,NaN,NaN,0.0,0.0,83.7,NaN,2.0,1.0,1.0,1.0,0.0,NaN
199,NaN,NaN,0.0,0.0,50.0,NaN,2.0,3.0,2.0,2.0,NaN,NaN

In [109]:
data_test['number_of_ngan'] = pd.to_numeric(data_test['number_of_ngan'],errors='coerce')
data_test['number_of_unit'] = pd.to_numeric(data_test['number_of_unit'],errors='coerce')
data_test['land long(m)'] = pd.to_numeric(data_test['land long(m)'],errors='coerce')
data_test['number_of_story'] = pd.to_numeric(data_test['number_of_story'],errors='coerce')
data_test['number_of_bedroom'] = pd.to_numeric(data_test['number_of_bedroom'],errors='coerce')
data_test['number_of_bathroom'] = pd.to_numeric(data_test['number_of_bathroom'],errors='coerce')
data_test['number_of_parking'] = pd.to_numeric(data_test['number_of_parking'],errors='coerce')
data_test['usable_area'] = pd.to_numeric(data_test['usable_area'],errors='coerce')

ValueError: ignored

In [45]:
data11_test=data1_test.fillna(0)
data11_test

,land wide(m),land long(m),number_of_rai,number_of_ngan,number_of_va,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
0,0.0,0.0,9.0,3.0,5.0,0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,26.0,0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,32.0,0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,75.0,0,1.0,1.0,2.0,1.0,133.0
4,0.0,0.0,0.0,0.0,0.0,0,0.0,1.0,1.0,0.0,46.0
...,...,...,...,...,...,...,...,...,...,...,...
195,0.0,0.0,0.0,0.0,69.0,0,0.0,0.0,0.0,0.0,0.0
196,0.0,0.0,0.0,0.0,20.0,0,0.0,0.0,0.0,0.0,0.0
197,0.0,0.0,0.0,1.0,21.0,0,0.0,0.0,0.0,0.0,0.0
198,0.0,0.0,0.0,0.0,83.7,0,2.0,1.0,1.0,1.0,0.0
199,0.0,0.0,0.0,0.0,50.0,0,2.0,3.0,2.0,2.0,0.0

###เริ่มทำ data Regression

In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [27]:
x_train=data11_train[['land wide(m)',	'land long(m)'	,'number_of_rai',	'number_of_ngan',	'number_of_va'	,'number_of_unit','number_of_story','number_of_bedroom','number_of_bathroom','number_of_parking','usable_area']]
x_train

,land wide(m),land long(m),number_of_rai,number_of_ngan,number_of_va,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
0,0.0,0.0,0.0,0.0,98.4,0.0,0.0,0.0,0.0,0.0,0.0
1,24.0,69.0,3.0,0.0,72.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,52.0,0.0,1.0,3.0,2.0,1.0,208.0
3,0.0,0.0,0.0,0.0,40.0,0.0,2.0,3.0,3.0,3.0,145.0
4,0.0,0.0,0.0,0.0,50.0,0.0,1.0,2.0,2.0,3.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...
2720,0.0,0.0,0.0,0.0,135.0,0.0,2.0,5.0,6.0,5.0,0.0
2721,0.0,0.0,11.0,2.0,25.0,0.0,0.0,0.0,0.0,0.0,4625.0
2722,0.0,0.0,0.0,0.0,58.0,0.0,0.0,0.0,0.0,0.0,0.0
2723,0.0,0.0,0.0,0.0,78.0,0.0,0.0,0.0,0.0,0.0,0.0
2724,0.0,0.0,0.0,0.0,32.0,0.0,1.0,0.0,0.0,0.0,0.0

In [48]:
 y_train=data11_train['sell_price']
 y_train

0        2860000.0
1       17490000.0
2        2800000.0
3        2600000.0
4        1490000.0
           ...
2720    12500000.0
2721     8671875.0
2722     1400000.0
2723     2915000.0
2724     1045000.0
Name: sell_price, Length: 2725, dtype: float64

In [47]:
Lr =LinearRegression()
Lr.fit(x_train,y_train)

LinearRegression()

In [173]:
predicted = Lr.predict(data11_test)
predicted

ValueError: ignored

In [174]:
re = pd.concat([data11_test, pd.Series(predicted,name='predicted')],axis='columns')
re

NameError: ignored

In [ ]:
re['predicted']

13/11/65

In [50]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [51]:
data_testfn = pd.read_csv('/content/drive/MyDrive/DPDM65/finaltest_X.csv')
data_testfn

,INDEX,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,2925,21082.0,NaN,NaN,ขอนแก่น,บ้านไผ่,หินตั้ง,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
1,2926,30237P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,NaN,บ้านเดี่ยว,NaN,NaN,...,NaN,18-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2927,18099.0,NaN,NaN,ขอนแก่น,บ้านไผ่,ในเมือง,อาคารพาณิชย์/สำนักงาน,no,no,...,2.0,1.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
3,2928,1713.0,NaN,NaN,ขอนแก่น,อุบลรัตน์,บ้านดง,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
4,2929,3056P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,สำราญ,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,3720,18702.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ศิลา,อาคารพาณิชย์/สำนักงาน,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
796,3721,30128P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,NaN,บ้านเดี่ยว,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
797,3722,18422.0,NaN,NaN,ขอนแก่น,เขาสวนกวาง,เขาสวนกวาง,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
798,3723,2283.0,NaN,NaN,ขอนแก่น,ชุมแพ,ชุมแพ,บ้านเดี่ยว,no,no,...,0.0,0.0,680.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
799,3724,1761.0,NaN,NaN,ขอนแก่น,หนองเรือ,กุดกว้าง,อาคารพาณิชย์/สำนักงาน,no,no,...,2.0,3.0,128.0,0.0,เหนือ,ตกแต่งครบ,NaN,NaN,NaN,NaN

In [54]:
data_testfn.shape

(800, 40)

In [55]:
data_test.dtypes

INDEX                   int64
id                     object
project_name           object
company                object
province               object
district               object
sub_district           object
property_type          object
home improvement       object
renovate               object
public utility         object
land type              object
land wide(m)          float64
land long(m)          float64
topsoil                object
corner                 object
zip_code              float64
zone                   object
alley                  object
street                 object
latitude               object
longitude             float64
number_of_rai         float64
number_of_ngan        float64
number_of_va          float64
construct_year        float64
model                 float64
number_of_unit         object
number_of_story       float64
number_of_bedroom     float64
number_of_bathroom    float64
number_of_parking     float64
usable_area           float64
central_cost           object
direction              object
furniture              object
building_number        object
number_of_building     object
floor_number           object
parking_percentage    float64
dtype: object

In [143]:
data1_testfn=data_testfn[['land wide(m)' ,'land long(m)',	'number_of_va',	'number_of_unit',	'number_of_story',	'number_of_bedroom',	'number_of_bathroom',	'number_of_parking','usable_area']]

In [150]:
data1_testfn

,land wide(m),land long(m),number_of_rai,number_of_ngan,number_of_va,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
0,NaN,NaN,13.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,0.0,0.0,190.0,NaN,5.0,40.0,NaN,NaN,NaN
2,NaN,NaN,0.0,0.0,28.0,NaN,2.0,2.0,2.0,1.0,0.0
3,200.0,NaN,13.0,3.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
795,NaN,NaN,0.0,0.0,81.0,NaN,4.0,0.0,0.0,0.0,0.0
796,NaN,NaN,0.0,0.0,0.0,NaN,NaN,2.0,NaN,NaN,NaN
797,20.0,40.0,0.0,3.0,0.5,NaN,NaN,NaN,NaN,NaN,NaN
798,NaN,NaN,0.0,1.0,170.0,NaN,NaN,0.0,0.0,0.0,680.0
799,NaN,NaN,0.0,0.0,21.0,NaN,2.0,2.0,2.0,3.0,128.0

In [159]:
data1_testfn['number_of_ngan'] = pd.to_numeric(data1_testfn['number_of_ngan'],errors='coerce')
data1_testfn['number_of_unit'] = pd.to_numeric(data1_testfn['number_of_unit'],errors='coerce')
data1_testfn['number_of_story'] = pd.to_numeric(data1_testfn['number_of_story'],errors='coerce')
data1_testfn['number_of_bedroom'] = pd.to_numeric(data1_testfn['number_of_bedroom'],errors='coerce')
data1_testfn['number_of_bathroom'] = pd.to_numeric(data1_testfn['number_of_bathroom'],errors='coerce')
data1_testfn['number_of_parking'] = pd.to_numeric(data1_testfn['number_of_parking'],errors='coerce')
data1_testfn['usable_area'] = pd.to_numeric(data1_testfn['usable_area'],errors='coerce')
data1_testfn['land long(m)'] = pd.to_numeric(data1_testfn['land long(m)'],errors='coerce')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [160]:
data11_testfn=data1_testfn.fillna(0)
data11_testfn

,land wide(m),land long(m),number_of_rai,number_of_ngan,number_of_va,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
0,0.0,0.0,13.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,190.0,0.0,5.0,40.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,28.0,0.0,2.0,2.0,2.0,1.0,0.0
3,200.0,0.0,13.0,3.0,52.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
795,0.0,0.0,0.0,0.0,81.0,0.0,4.0,0.0,0.0,0.0,0.0
796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
797,20.0,40.0,0.0,3.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0
798,0.0,0.0,0.0,1.0,170.0,0.0,0.0,0.0,0.0,0.0,680.0
799,0.0,0.0,0.0,0.0,21.0,0.0,2.0,2.0,2.0,3.0,128.0

###เริ่มทำ data Regression final

In [137]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [158]:
x_train=data11_train[['land wide(m)','land long(m)',	'number_of_va'	,'number_of_unit','number_of_story','number_of_bedroom','number_of_bathroom','number_of_parking','usable_area']]
x_train

,land wide(m),land long(m),number_of_va,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
0,0.0,0.0,98.4,0.0,0.0,0.0,0.0,0.0,0.0
1,24.0,69.0,72.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,52.0,0.0,1.0,3.0,2.0,1.0,208.0
3,0.0,0.0,40.0,0.0,2.0,3.0,3.0,3.0,145.0
4,0.0,0.0,50.0,0.0,1.0,2.0,2.0,3.0,114.0
...,...,...,...,...,...,...,...,...,...
2720,0.0,0.0,135.0,0.0,2.0,5.0,6.0,5.0,0.0
2721,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,4625.0
2722,0.0,0.0,58.0,0.0,0.0,0.0,0.0,0.0,0.0
2723,0.0,0.0,78.0,0.0,0.0,0.0,0.0,0.0,0.0
2724,0.0,0.0,32.0,0.0,1.0,0.0,0.0,0.0,0.0

In [147]:
y_train=data11_train['sell_price']
y_train

0        2860000.0
1       17490000.0
2        2800000.0
3        2600000.0
4        1490000.0
           ...
2720    12500000.0
2721     8671875.0
2722     1400000.0
2723     2915000.0
2724     1045000.0
Name: sell_price, Length: 2725, dtype: float64

In [148]:
Lr =LinearRegression()
Lr.fit(x_train,y_train)

LinearRegression()

In [168]:
predictions = Lr.predict(data11_testfn)
predictions

array([ 3.99282946e+07, -1.78605119e+07,  5.67182592e+06,  3.36639172e+08,
        1.56657597e+07, -2.61663893e+07,  2.26729382e+08,  8.22698597e+06,
        5.00866773e+06,  7.07082545e+07,  8.15082531e+06,  4.44955570e+07,
        3.39201627e+06,  3.28976818e+07,  2.70514500e+06,  4.98473000e+06,
        2.72983925e+07,  2.70778099e+07, -3.55384032e+06,  8.59133231e+06,
        1.75764655e+07,  2.69830780e+08, -1.79055154e+07,  3.82680285e+07,
        1.84424434e+07,  3.13769311e+06,  8.20601490e+06,  9.92812125e+06,
        2.73713590e+07,  3.70331004e+08,  5.96413079e+07,  2.41883601e+07,
        1.44324925e+07,  1.34452207e+07,  8.88417975e+06,  1.08588153e+07,
        2.72657367e+05,  1.86592794e+07,  3.04473456e+06,  2.73646246e+07,
        9.70716162e+05,  2.10749152e+07,  1.62625642e+07,  1.79221764e+07,
        2.16327966e+07,  1.84958059e+07,  1.12996894e+07,  1.75377488e+07,
        2.04366944e+06,  3.67166573e+07,  9.07058567e+06,  3.31815655e+07,
        4.83498148e+07,  3.39445349e+07,  1.64381682e+08,  1.17889961e+07,
        3.80233906e+06, -8.83994352e+06, -6.05168087e+06,  9.51942735e+06,
        5.81675014e+08,  3.45313854e+05,  2.94675792e+07,  1.56594209e+07,
       -2.68461918e+07,  1.68823322e+07,  2.46615135e+06,  2.32685138e+08,
        1.63962375e+07,  1.49945173e+07,  2.74842928e+07,  4.69224883e+07,
        5.68092462e+06,  2.76461076e+06,  5.36379650e+07,  2.13258522e+07,
        9.02640546e+07,  8.26473391e+06,  8.21020911e+06,  5.03445793e+07,
        2.51281229e+07, -3.58954738e+06, -6.68478319e+06,  3.09430876e+07,
        3.29272423e+07,  1.56582662e+07, -1.98743592e+07,  1.94481153e+07,
       -1.74686734e+07,  2.98753645e+07,  1.42884222e+08,  9.53652657e+06,
       -5.21241447e+06,  3.17307755e+07,  3.13769311e+06,  2.13258522e+07,
        1.85322269e+07,  1.03679883e+07, -5.54303456e+06, -4.01551719e+06,
        1.63736587e+07,  2.87309103e+07, -4.16149979e+06,  8.37793978e+06,
        2.30086394e+07,  2.13316250e+07,  4.48780718e+06,  4.71355982e+07,
        2.51159170e+08,  1.87105782e+07,  4.80047641e+07, -9.86241994e+06,
        8.91271355e+06,  1.74135301e+07,  3.20838142e+07, -1.45891907e+08,
        1.02710680e+07, -4.34183775e+06,  3.16479046e+07,  2.02098358e+07,
        3.13769311e+06,  6.22206253e+06,  1.89719606e+07,  2.85700082e+07,
        1.37209692e+07,  2.39492010e+07,  1.30891683e+07, -1.48416312e+07,
       -2.08301446e+06,  5.23508099e+06,  3.77593822e+07,  1.11151318e+07,
       -2.39011136e+06, -2.64535592e+06, -6.56032717e+06, -6.75557432e+06,
        1.86610668e+07,  4.74482603e+07,  8.93817108e+06,  1.84308227e+07,
        2.80951025e+07, -2.58471055e+07,  2.43215434e+07,  5.64787657e+06,
        2.57359242e+07, -7.78807336e+06,  3.13769311e+06,  1.83290935e+07,
        1.79221764e+07,  9.83867402e+06,  2.13310313e+08,  2.72660826e+08,
        2.92411126e+07, -7.82741554e+05,  1.74135301e+07,  2.86024998e+07,
        5.16211533e+07,  2.22588722e+07, -1.62583475e+07,  2.08355669e+07,
        2.30411310e+07,  1.26709871e+07,  1.01203910e+08, -4.78131405e+06,
        1.54313821e+07,  2.73321330e+07,  1.61764524e+07,  8.28570498e+06,
        3.08926571e+07, -6.24932903e+06,  2.09740542e+07,  1.84308227e+07,
        2.42465147e+07,  9.57473308e+06,  9.43498578e+06,  2.34405547e+07,
        1.30900365e+07,  2.57118981e+07, -2.59975511e+05,  1.45934239e+07,
        2.52638073e+07,  3.70289044e+07,  3.03778193e+07,  2.85700082e+07,
        1.36325747e+07,  8.34442399e+06,  8.70561706e+06,  2.17174017e+07,
       -1.69847627e+06,  8.15921374e+06,  2.29319084e+07,  1.31141665e+07,
        6.32103134e+07,  3.82680285e+07,  3.36134807e+07, -3.39864500e+08,
        2.60195629e+07,  3.37621232e+07,  1.34882112e+07,  2.53984088e+07,
        1.30298994e+07,  9.80796552e+06,  3.13769311e+06,  2.29556925e+07,
        6.43723777e+07,  9.57473308e+06,  2.31095004e+07,  2.71786709e+07,
        5.21682975e+07,  1.35114014e+07,  1.10980017e+07,  4.63145042e+07,
        7.18386709e+07,  1.74135301e+07,  1.53019084e+07,  4.64264783e+06,
        2.19904786e+07,  7.46118668e+06, -8.15031417e+06, -4.01709566e+06,
        1.00303786e+07,  3.13769311e+06,  1.76424210e+07, -5.46674363e+06,
        1.61000648e+07,  2.40912052e+06,  3.13769311e+06,  6.45395157e+07,
        1.09631134e+07,  6.32997843e+06,  2.53984088e+07,  3.09015232e+08,
       -1.24698008e+07,  2.86037488e+07,  1.79221764e+07,  2.60130766e+08,
        8.22279176e+06,  3.63370582e+06,  1.89057285e+07,  1.56451779e+07,
        6.22449976e+07,  1.48721615e+07, -1.00910698e+07,  8.36892449e+06,
        1.79221764e+07,  6.47882291e+07,  1.32926268e+07,  5.96271886e+05,
        8.48507948e+07,  1.79658643e+07,  1.55657870e+07,  2.06092595e+07,
        3.13769311e+06,  4.49458001e+06,  1.63653268e+07,  1.98632588e+07,
        1.97974154e+07,  1.84958059e+07,  3.55496623e+07, -3.06118574e+06,
        7.01544049e+06,  6.95477050e+06,  1.84308227e+07,  4.52322284e+07,
        1.37019305e+07, -5.09898021e+06,  8.21859754e+06,  1.18425507e+07,
       -8.39162220e+06,  1.69345890e+07,  1.57670319e+07,  3.82680285e+07,
        1.24818991e+07, -5.67916103e+06,  1.28357134e+07,  3.01296877e+07,
        1.81826808e+07,  3.60808494e+07,  2.44074168e+07,  3.62334433e+07,
        2.39233345e+07,  1.31513420e+07,  2.02414827e+07,  1.40972441e+07,
       -8.40353377e+06, -1.26296565e+06,  1.76666043e+07,  2.83494256e+07,
       -1.02265390e+07,  8.23118019e+06,  1.84958059e+07,  2.86037488e+07,
        9.21444991e+06,  2.22702340e+07,  1.64967178e+07,  8.21440333e+06,
        1.03626271e+07, -9.73355620e+06,  1.12760339e+07,  4.75985791e+06,
        1.50334820e+07,  1.33211785e+07,  3.13769311e+06,  2.24999931e+07,
       -3.28505058e+06,  3.82425962e+07, -3.61798805e+06,  1.93348548e+07,
        8.27898788e+07,  2.80951025e+07,  3.01420432e+06,  9.80796552e+06,
        3.13769311e+06,  1.13238432e+07,  2.61879785e+08,  3.54704738e+07,
       -1.03701477e+06,  1.86851459e+07, -1.98191322e+06,  1.14663496e+07,
       -6.75557432e+06,  3.87841474e+07,  1.27131347e+07,  4.22443081e+06,
        1.83036611e+07, -1.31679862e+07,  9.20905750e+06,  2.80951025e+07,
        2.87309103e+07,  3.22914345e+07,  3.53437425e+06, -1.71074813e+07,
        2.02435764e+07,  1.56626143e+07,  9.99764024e+06,  2.19312034e+07,
        1.67341143e+07,  6.95254038e+06, -6.52908450e+06, -2.26926632e+07,
        4.05326907e+06,  1.02710680e+07,  8.56884137e+06,  1.21466064e+07,
        1.94481153e+07, -5.92451929e+06,  1.84958059e+07,  2.48897625e+07,
        2.55581666e+07,  8.21440333e+06,  3.22986521e+06,  1.22929701e+08,
       -6.87510445e+06,  3.49374553e+06,  2.72167737e+06,  8.19343225e+06,
        2.65354230e+07,  6.59758088e+06,  8.08867022e+07,  1.53512345e+07,
        1.45373499e+07,  1.92700891e+07,  2.45345783e+07,  3.38296554e+07,
        2.25196762e+07,  2.23743717e+07,  1.02214124e+07,  2.52042504e+07,
        4.66363202e+06,  2.70425299e+07,  8.22698597e+06,  5.07298629e+07,
       -3.15305925e+06, -6.56032717e+06,  3.13769311e+06,  1.42259644e+07,
        8.00490706e+06,  1.34452207e+07,  3.41428145e+07, -1.30617138e+07,
        9.49577189e+06,  4.28855200e+07,  2.39492010e+07,  2.63466825e+07,
        1.77950148e+07,  4.96263149e+07,  3.05265757e+07,  6.69989009e+06,
        3.82061571e+07,  1.54447334e+07,  2.54562590e+07,  8.47323214e+07,
        6.47882291e+07,  1.65914168e+05,  1.74650121e+07,  1.29120755e+07,
        2.03891110e+07,  4.85665793e+06, -1.49867317e+07,  1.49360763e+07,
        1.81728306e+07,  1.41673722e+07, -2.97221593e+06, -3.73511115e+06,
        1.58538507e+07,  3.34104563e+07,  3.58010939e+07,  4.57885897e+07,
        6.95254038e+06,  7.90235190e+06,  5.66486394e+07,  3.14013034e+07,
        2.99150141e+07,  9.85455946e+07,  1.85953218e+07,  1.29328064e+07,
        6.71421207e+07,  3.18682724e+07,  8.19762647e+06,  3.13769311e+06,
        1.85487037e+07, -2.36839779e+05,  2.67217574e+07,  1.31908976e+07,
        5.91012245e+06, -4.46200768e+06,  2.29799259e+06,  2.85274518e+07,
        1.00956764e+06,  1.45196607e+06, -4.22507367e+06,  2.91059083e+07,
        1.28357134e+07,  1.08243615e+08,  1.67380989e+06,  2.77386159e+07,
        2.32954542e+07,  2.13258522e+07,  2.80951025e+07,  4.01821353e+06,
        3.62334433e+07,  2.62381093e+07,  3.63724072e+06,  3.35376179e+07,
        1.63962375e+07, -8.59616131e+06,  2.02527728e+06,  1.39034365e+07,
        1.77687143e+07,  2.99150141e+07,  1.82058896e+06,  1.15415461e+07,
        8.44092131e+07,  3.34671313e+07,  4.06856544e+07,  6.33384855e+07,
        2.60605173e+07, -4.70849537e+06,  9.16781604e+06,  1.65151157e+07,
        2.55518710e+07,  1.45097229e+07,  2.91123951e+07,  7.35045603e+07,
        2.85296958e+07,  1.91282087e+07,  5.25101250e+07,  1.99230211e+07,
        6.60831530e+05,  8.12947466e+06,  2.60187018e+07,  1.19528390e+07,
        2.09740542e+07,  7.04302316e+07,  1.63866804e+07,  3.31571932e+06,
        1.43616523e+07,  1.36995439e+07,  2.83494256e+07,  9.45737535e+06,
        3.60256794e+06,  3.35702679e+06,  3.44531812e+07,  4.99317847e+06,
       -5.33762761e+06, -3.21701787e+06,  3.32824265e+07,  1.74699550e+08,
        3.84604803e+07,  1.55306705e+07,  1.47709615e+07,  9.41657166e+07,
        4.51103813e+06,  1.08252581e+07, -2.13124713e+07,  1.95397015e+06,
        4.63142015e+06,  3.12222505e+06,  1.28867610e+08,  2.77640482e+07,
        3.32414370e+07,  1.76822986e+07,  2.98159910e+07,  1.43927795e+08,
        1.81764996e+07,  1.00569517e+07, -6.00006912e+06, -6.63884722e+06,
        3.29316031e+07,  1.91712134e+07,  3.83061298e+07,  3.12478413e+07,
        4.67962686e+07,  1.28357134e+07,  1.60357440e+07,  1.37357749e+08,
       -2.24128975e+06,  4.48554114e+07,  3.30234682e+07,  8.22279176e+06,
        3.13769311e+06,  1.42577577e+07,  2.14489600e+07,  4.33083738e+06,
        3.06383340e+07,  3.36134807e+07, -1.40725968e+07,  1.95340202e+07,
        2.53754558e+08,  1.74135301e+07, -1.27961196e+07,  3.31815655e+07,
        2.55518710e+07,  4.69247009e+06,  3.79882730e+07,  1.81764996e+07,
        3.85290876e+07,  4.11361761e+07,  1.38933404e+07,  1.20976769e+07,
        2.35172857e+07,  1.43831659e+07,  1.23883726e+07,  4.33544915e+07,
        1.56657597e+07,  8.10443453e+06, -9.23052151e+04,  2.05916276e+07,
        5.52864074e+07,  9.67197156e+08, -1.09175613e+07,  9.89833321e+06,
        7.68742896e+06,  2.15476837e+07,  6.66049410e+06,  1.74898271e+07,
        1.36080572e+07,  3.13769311e+06,  8.22279176e+06,  4.81566288e+07,
        1.59572851e+07,  8.53387737e+06,  9.17920571e+07,  1.66305194e+07,
        1.36599883e+07, -6.56032717e+06,  5.74930395e+07,  9.55600174e+06,
        3.15788955e+07,  2.41558985e+07,  2.80951025e+07,  8.30248184e+06,
        4.46386523e+07,  2.59916188e+07, -3.65600546e+07,  1.97195626e+07,
        1.56578664e+07, -6.56032717e+06,  3.13769311e+06, -4.08260172e+06,
        4.31001684e+07,  3.70194493e+06,  8.51097089e+06,  1.50908812e+07,
        1.99002637e+07, -1.09829316e+06,  1.61357554e+07, -1.62583475e+07,
        1.73118009e+07,  1.34608548e+07,  2.55662035e+07,  1.44625133e+07,
        4.37122833e+06,  1.31908976e+07,  3.99325728e+06,  8.14965093e+06,
       -1.55059522e+06,  1.34882112e+07,  1.01931447e+07,  3.36902118e+07,
        2.85700082e+07,  1.82273642e+07,  3.69964127e+07, -7.36036948e+06,
        2.22456700e+07,  1.74651781e+08,  3.45831477e+07,  1.74135301e+07,
       -2.89492249e+06,  1.81764996e+07,  1.59218394e+07,  4.36523538e+07,
        1.92696550e+07,  8.15082531e+06,  3.77423937e+07,  2.61994811e+06,
       -2.06947731e+06,  2.77640482e+07,  3.34104563e+07,  1.64249823e+07,
       -1.59647448e+07,  1.27581141e+07,  2.88580719e+07,  1.51246218e+07,
        5.54744984e+07,  1.37273573e+07,  1.61620473e+07,  1.81346527e+07,
        2.81588888e+06,  2.56769153e+07,  7.60503822e+06,  8.22279176e+06,
        2.86037488e+07,  4.94245066e+07,  2.17874542e+07,  2.59837862e+07,
        2.33638236e+07,  2.87813408e+07,  5.67182592e+06,  3.67420896e+07,
        3.82680285e+07,  2.45345783e+07,  8.22279176e+06,  2.41558985e+07,
        1.76678533e+07,  1.23937131e+07,  1.99567616e+07,  2.15558045e+05,
        1.56657597e+07,  3.80137054e+07,  3.28047485e+07, -2.59975511e+05,
       -2.23546426e+07, -1.17152590e+07,  2.22527001e+06,  3.36902118e+07,
       -1.34061105e+07,  2.71278062e+07,  1.65582299e+07, -1.97912801e+05,
        6.42469886e+06,  3.02476942e+07, -8.25699418e+06,  1.32855755e+07,
       -1.03220867e+07, -7.65435085e+06,  8.21859754e+06,  1.24073568e+07,
       -6.56032717e+06,  1.28094128e+07,  1.16377655e+08,  3.50905450e+07,
        3.13769311e+06, -4.99183186e+06,  2.47767615e+07,  7.43642387e+06,
        2.31862315e+07,  7.59382130e+05,  2.41558985e+07,  7.74450132e+07,
        7.90065555e+07,  5.05560717e+07, -1.24156853e+07, -1.32434291e+06,
        8.23034134e+06,  2.72812684e+07,  1.28399076e+07,  2.41558985e+07,
        2.99226012e+07,  7.94192472e+06,  1.05031986e+07,  5.52864074e+07,
        2.86037488e+07,  9.04478333e+07,  4.96263149e+07,  2.35178667e+07,
        3.11139566e+06,  1.81764996e+07,  2.33266027e+06,  1.31908976e+07,
        3.45575055e+06,  1.45934239e+07,  6.33342246e+06,  1.70917259e+07,
        1.27239098e+07,  7.82836286e+06,  2.23633224e+07, -1.59358575e+06,
        3.39445349e+07, -1.51389635e+07,  2.78109059e+07,  2.09986183e+07,
        1.71592070e+07,  1.95147613e+07,  3.40706023e+07,  2.80951025e+07,
        5.40564027e+06,  1.79658643e+07,  5.45447102e+07,  1.25562466e+07,
        2.65174307e+07,  3.31815655e+07,  1.63161938e+07, -6.97396320e+07,
        1.94931054e+07,  4.06409725e+07,  1.63962375e+07,  3.80137054e+07,
        2.44079161e+07, -5.23383357e+07, -1.79041751e+07,  8.22698597e+06,
        1.14621175e+07,  7.43642387e+06,  6.32275528e+07,  1.81764996e+07,
        4.48780718e+06,  1.55657870e+07,  3.19439973e+07,  8.19762647e+06,
        1.87268955e+07,  4.11361761e+07,  5.54624237e+06,  3.42625924e+07,
        1.24470320e+07,  5.87412014e+07,  2.60605173e+07,  9.90672164e+06,
        3.75050591e+07,  2.41558985e+07, -3.40776642e+06,  1.14564974e+08,
        2.75624986e+07,  1.10453663e+07,  2.73646246e+07,  4.58877390e+07,
        1.88313113e+08,  3.41671841e+08,  1.22424619e+07,  9.47182996e+07,
        1.10542024e+07, -3.54523368e+06,  1.82389849e+07,  1.31317278e+07,
       -1.07399692e+07,  1.16134463e+07,  4.70492379e+07,  1.31908976e+07,
        2.35672821e+07,  2.69247818e+07,  8.21859754e+06,  1.57341291e+07,
        3.69633579e+06,  9.46221034e+07,  1.45493570e+06,  4.57704002e+08,
        3.42051538e+07,  3.76086185e+06,  1.14564974e+08,  1.15906142e+07,
        1.76006620e+07,  6.49340113e+08,  8.21020911e+06, -1.40281605e+07,
        3.82680285e+07, -1.01324765e+07,  3.13769311e+06, -8.94921142e+05,
        1.98611497e+07,  2.13717948e+07,  1.56657597e+07,  1.99567616e+07,
        3.92719698e+07,  1.79221764e+07,  8.36364435e+06,  2.39733309e+07,
        9.47624206e+06, -4.05169670e+06,  4.92246949e+07,  4.29287892e+06])

In [178]:
re = pd.concat([data11_tesfn, pd.Series(predictions,name='predicted')],axis='columns')
re

,land wide(m),land long(m),number_of_rai,number_of_ngan,number_of_va,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area,predicted
0,0.0,0.0,13.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.992829e+07
1,0.0,0.0,0.0,0.0,190.0,0.0,5.0,40.0,0.0,0.0,0.0,-1.786051e+07
2,0.0,0.0,0.0,0.0,28.0,0.0,2.0,2.0,2.0,1.0,0.0,5.671826e+06
3,200.0,0.0,13.0,3.0,52.0,0.0,0.0,0.0,0.0,0.0,0.0,3.366392e+08
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.566576e+07
...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.0,0.0,0.0,0.0,81.0,0.0,4.0,0.0,0.0,0.0,0.0,2.397333e+07
796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,9.476242e+06
797,20.0,40.0,0.0,3.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,-4.051697e+06
798,0.0,0.0,0.0,1.0,170.0,0.0,0.0,0.0,0.0,0.0,680.0,4.922469e+07
799,0.0,0.0,0.0,0.0,21.0,0.0,2.0,2.0,2.0,3.0,128.0,4.292879e+06

In [181]:
rep=re['predicted']
rep

0      3.992829e+07
1     -1.786051e+07
2      5.671826e+06
3      3.366392e+08
4      1.566576e+07
           ...
795    2.397333e+07
796    9.476242e+06
797   -4.051697e+06
798    4.922469e+07
799    4.292879e+06
Name: predicted, Length: 800, dtype: float64

In [182]:
rep.describe()

count    8.000000e+02
mean     2.617198e+07
std      6.441631e+07
min     -3.398645e+08
25%      5.678650e+06
50%      1.606790e+07
75%      2.809510e+07
max      9.671972e+08
Name: predicted, dtype: float64

In [183]:
rep.to_csv(index=False)

'predicted\n39928294.61842677\n-17860511.85694311\n5671825.92498691\n336639172.36892545\n15665759.666747833\n-26166389.253492452\n226729382.12605074\n8226985.971183738\n5008667.729817592\n70708254.54402038\n8150825.310120047\n44495556.95061308\n3392016.2650325447\n32897681.786313705\n2705145.0021631047\n4984730.004033883\n27298392.46580606\n27077809.85720879\n-3553840.315146217\n8591332.309811436\n17576465.45582703\n269830780.12121236\n-17905515.380027093\n38268028.50437937\n18442443.43672154\n3137693.113960486\n8206014.896546755\n9928121.247584453\n27371358.972244166\n370331004.4994633\n59641307.934250906\n24188360.130583428\n14432492.504876208\n13445220.706024311\n8884179.745052718\n10858815.333966203\n272657.3672182672\n18659279.42986258\n3044734.5586675648\n27364624.61606253\n970716.1622443069\n21074915.238186073\n16262564.152079348\n17922176.418614678\n21632796.554880522\n18495805.936322164\n11299689.404901423\n17537748.815867938\n2043669.4374895673\n36716657.28283981\n9070585.67201738\n33181565.4829382\n48349814.809569016\n33944534.93615437\n164381682.320033\n11788996.119925294\n3802339.058078045\n-8839943.519584367\n-6051680.867108414\n9519427.34739701\n581675013.5816138\n345313.85354343057\n29467579.223564006\n15659420.880488003\n-26846191.77822627\n16882332.233966738\n2466151.3485882673\n232685137.6049352\n16396237.512182325\n14994517.305147354\n27484292.772063017\n46922488.25911289\n5680924.624681072\n2764610.7607603893\n53637964.986368865\n21325852.205896493\n90264054.63612016\n8264733.905530307\n8210209.111474151\n50344579.27426806\n25128122.936091423\n-3589547.382056119\n-6684783.193762163\n30943087.626643017\n32927242.331866138\n15658266.247212287\n-19874359.16366145\n19448115.32504703\n-17468673.386768162\n29875364.51900143\n142884221.83067033\n9536526.57067508\n-5212414.468570622\n31730775.495627113\n3137693.113960486\n21325852.205896493\n18532226.89588268\n10367988.347472232\n-5543034.564964296\n-4015517.190510353\n16373658.689120824\n28730910.33917717\n-4161499.791466674\n8377939.782803617\n23008639.44005585\n21331625.007311843\n4487807.17954337\n47135598.24942663\n251159169.50723633\n18710578.18693806\n48004764.07896449\n-9862419.943651615\n8912713.545136869\n17413530.11647056\n32083814.162670307\n-145891907.3044256\n10271067.97977773\n-4341837.74905589\n31647904.566230655\n20209835.843570102\n3137693.113960486\n6222062.534606874\n18971960.630684596\n28570008.221166354\n13720969.19259013\n23949200.9721614\n13089168.29452343\n-14841631.160061052\n-2083014.4609265588\n5235080.9912493145\n37759382.20223525\n11115131.830255548\n-2390111.3554046694\n-2645355.922901446\n-6560327.169252532\n-6755574.31560543\n18661066.79772838\n47448260.31284485\n8938171.082136827\n18430822.720758796\n28095102.461497024\n-25847105.534460798\n24321543.424530618\n5647876.571077323\n25735924.22095871\n-7788073.362831531\n3137693.113960486\n18329093.460329972\n17922176.418614678\n9838674.017848166\n213310313.14081237\n272660826.3907867\n29241112.56221889\n-782741.554479247\n17413530.11647056\n28602499.82894804\n51621153.26647318\n22258872.218101524\n-16258347.452465547\n20835566.89292294\n23041131.047837533\n12670987.123908348\n101203910.24281694\n-4781314.046441225\n15431382.077176204\n27332133.00828085\n16176452.393775363\n8285704.98016729\n30892657.123289667\n-6249329.029984685\n20974054.23147938\n18430822.720758796\n24246514.652941357\n9574733.084085936\n9434985.784496132\n23440554.670017283\n13090036.548245562\n25711898.078492202\n-259975.51096384972\n14593423.874318212\n25263807.257229593\n37028904.356800765\n30377819.253524587\n28570008.221166354\n13632574.680403411\n8344423.989150843\n8705617.055253178\n21717401.72756973\n-1698476.272347169\n8159213.739974841\n22931908.367873166\n13114166.482769568\n63210313.37959674\n38268028.50437937\n33613480.71289963\n-339864499.91441435\n26019562.882955328\n33762123.20495829\n13488211.235732207\n25398408.806411065\n13029899.43970943\n9807965.518832806\n3137693.113960486\n22955692.528134704\n64372377.70678077\n9574733.084085936\n23109500.44676254\n27178670.86391548\n52168297.47766727\n13511401.414846322\n11098001.735090025\n46314504.22652161\n71838670.85962884\n17413530.11647056\n15301908.429326193\n4642647.8296238715\n21990478.58204548\n7461186.682185483\n-8150314.166602453\n-4017095.6585319433\n10030378.551673032\n3137693.113960486\n17642420.95243541\n-5466743.627068574\n16100064.766563756\n2409120.5219479688\n3137693.113960486\n64539515.70272761\n10963113.442798171\n6329978.425871501\n25398408.806411065\n309015231.66824406\n-12469800.755214008\n28603748.76364114\n17922176.418614678\n260130765.73529866\n8222791.756256341\n3633705.8201624565\n18905728.480428122\n15645177.88324678\n62244997.631897666\n14872161.512852078\n-10091069.811523518\n8368924.486344672\n17922176.418614678\n64788229.142618254\n13292626.815381076\n596271.8856812418\n84850794.80873846\n17965864.33131741\n15565786.974016575\n20609259.465749852\n3137693.113960486\n4494580.00549304\n16365326.805489615\n19863258.813933916\n19797415.430077933\n18495805.936322164\n35549662.31939097\n-3061185.7437881287\n7015440.487820333\n6954770.501182664\n18430822.720758796\n45232228.406670004\n13701930.475150079\n-5098980.206640793\n8218597.541328944\n11842550.727409275\n-8391622.200093208\n16934588.9811152\n15767031.884123394\n38268028.50437937\n12481899.122865273\n-5679161.032352155\n12835713.397173503\n30129687.670073494\n18182680.79609684\n36080849.40515967\n24407416.770952173\n36233443.2958029\n23923334.530193128\n13151342.023731995\n20241482.68145832\n14097244.066694066\n-8403533.770487012\n-1262965.653308263\n17666604.332849514\n28349425.612569083\n-10226539.002041226\n8231180.1861111345\n18495805.936322164\n28603748.76364114\n9214449.912052527\n22270234.048224747\n16496717.837918045\n8214403.3264015475\n10362627.115685686\n-9733556.199671889\n11276033.948266365\n4759857.909044787\n15033482.019129332\n13321178.50351332\n3137693.113960486\n22499993.137911733\n-3285050.579436416\n38242596.189272165\n-3617988.047681911\n19334854.762740847\n82789878.78704827\n28095102.461497024\n3014204.315297488\n9807965.518832806\n3137693.113960486\n11323843.169256076\n261879785.1197145\n35470473.842586726\n-1037014.7716343869\n18685145.87183085\n-1981913.216302853\n11466349.631834561\n-6755574.31560543\n38784147.42480701\n12713134.716799047\n4224430.806245968\n18303661.145222764\n-13167986.154250285\n9209057.503589649\n28095102.461497024\n28730910.33917717\n32291434.454185992\n3534374.246646039\n-17107481.296727143\n20243576.38604489\n15662614.258238826\n9997640.236137772\n21931203.367171526\n16734114.250591822\n6952540.380041366\n-6529084.496163951\n-22692663.24504009\n4053269.0708511844\n10271067.97977773\n8568841.371254196\n12146606.448733198\n19448115.32504703\n-5924519.291572386\n18495805.936322164\n24889762.504266948\n25558166.63722215\n8214403.3264015475\n3229865.212328626\n122929700.55990857\n-6875104.450488439\n3493745.5254613683\n2721677.3725510295\n8193432.251764565\n26535423.012589883\n6597580.880346205\n80886702.15873927\n15351234.509018786\n14537349.93888111\n19270089.119296588\n24534578.3464882\n33829655.39131088\n22519676.150864623\n22374371.657174043\n10221412.44247318\n25204250.430063877\n4663632.020392838\n27042529.901755318\n8226985.971183738\n50729862.90691025\n-3153059.245872736\n-6560327.169252532\n3137693.113960486\n14225964.448224045\n8004907.059058068\n13445220.706024311\n34142814.452306174\n-13061713.845873924\n9495771.890761953\n42885519.95079037\n23949200.9721614\n26346682.534998704\n17795014.843078647\n49626314.90163979\n30526575.655498333\n6699890.085757656\n38206157.13061121\n15444733.354317509\n25456259.034533493\n84732321.36770636\n64788229.142618254\n165914.16810427792\n17465012.11016348\n12912075.533895412\n20389110.984013647\n4856657.934920954\n-14986731.697105253\n14936076.338370793\n18172830.64409023\n14167372.181828886\n-2972215.931228794\n-3735111.1480602194\n15853850.66756342\n33410456.31890305\n35801093.9389804\n45788589.65950344\n6952540.380041366\n7902351.899380026\n56648639.37361928\n31401303.425433785\n29915014.076417148\n98545594.64804973\n18595321.84297648\n12932806.418441467\n67142120.71783017\n31868272.42578326\n8197626.4666919615\n3137693.113960486\n18548703.72240447\n-236839.7786055021\n26721757.44570791\n13190897.554952253\n5910122.446850428\n-4462007.679805798\n2297992.588561626\n28527451.818319526\n1009567.6427889746\n1451966.0650716666\n-4225073.673908753\n29105908.25899961\n12835713.397173503\n108243614.93126273\n1673809.8915195465\n27738615.923135076\n23295454.198909596\n21325852.205896493\n28095102.461497024\n4018213.5347619113\n36233443.2958029\n26238109.33180993\n3637240.7164104413\n33537617.89443908\n16396237.512182325\n-8596161.312522104\n2025277.277653044\n13903436.504815083\n17768714.274249308\n29915014.076417148\n1820588.9595060889\n11541546.061453508\n84409213.09412988\n33467131.307098836\n40685654.36046153\n63338485.54413968\n26060517.252920553\n-4708495.369807189\n9167816.04237064\n16515115.700723182\n25551870.950776435\n14509722.864582255\n29112395.06578526\n73504560.27111994\n28529695.843119953\n19128208.69463576\n52510124.964414656\n19923021.084716357\n660831.5295370799\n8129474.664878465\n26018701.84623498\n11952839.01043712\n20974054.23147938\n70430231.58363415\n16386680.350121638\n3315719.319710927\n14361652.303605855\n13699543.85709637\n28349425.612569083\n9457375.351434635\n3602567.9437639397\n3357026.7878646534\n34453181.23829849\n4993178.471538248\n-5337627.608916683\n-3217017.86801517\n33282426.489644885\n174699550.17044264\n38460480.28168327\n15530670.544815192\n14770961.467803992\n94165716.63166706\n4511038.129749603\n10825258.12312104\n-21312471.25653989\n1953970.1501961648\n4631420.14806764\n3122225.0466804877\n128867610.44972102\n27764048.23824228\n33241436.99055954\n17682298.576532107\n29815991.014619485\n143927795.43027067\n18176499.569686737\n10056951.65047433\n-6000069.1231874395\n-6638847.217851719\n32931603.10835445\n19171213.350913472\n38306129.82334247\n31247841.281068414\n46796268.63206546\n12835713.397173503\n16035743.994206928\n137357749.258444\n-2241289.749430893\n44855411.44275473\n33023468.22051809\n8222791.756256341\n3137693.113960486\n14257757.740168083\n21448959.99114871\n4330837.381631816\n30638333.972217612\n33613480.71289963\n-14072596.799579168\n19534020.210236747\n253754558.17086744\n17413530.11647056\n-12796119.603853544\n33181565.4829382\n25551870.950776435\n4692470.086830249\n37988273.03820011\n18176499.569686737\n38529087.56056399\n41136176.0929168\n13893340.402311187\n12097676.932997271\n23517285.74219997\n14383165.899282468\n12388372.570515819\n43354491.525820546\n15665759.666747833\n8104434.533511079\n-92305.2150797043\n20591627.556382693\n55286407.44078845\n967197156.3143002\n-10917561.279952316\n9898333.211295236\n7687428.9623469105\n21547683.749186866\n6660494.104257154\n17489827.061792176\n13608057.189961448\n3137693.113960486\n8222791.756256341\n48156628.777599566\n15957285.115379434\n8533877.374228274\n91792057.0935031\n16630519.385721732\n13659988.325876113\n-6560327.169252532\n57493039.4861167\n9556001.74311266\n31578895.504323162\n24155898.475470822\n28095102.461497024\n8302481.839876877\n44638652.27656829\n25991618.776845716\n-36560054.58957439\n19719562.56385871\n15657866.428837523\n-6560327.169252532\n3137693.113960486\n-4082601.719233671\n43100168.37474848\n3701944.9253633525\n8510970.894255402\n15090881.214347243\n19900263.731414113\n-1098293.1577665098\n16135755.417509314\n-16258347.452465547\n17311800.856041737\n13460854.761230761\n25566203.497494474\n14462513.310312547\n4371228.328704851\n13190897.554952253\n3993257.2847206593\n8149650.929940376\n-1550595.219994042\n13488211.235732207\n10193144.748506933\n33690211.78508232\n28570008.221166354\n18227364.19990115\n36996412.74901908\n-7360369.484357001\n22245669.986839674\n174651780.6961765\n34583147.66942523\n17413530.11647056\n-2894922.485734215\n18176499.569686737\n15921839.385517458\n43652353.750634626\n19269654.992435522\n8150825.310120047\n37742393.73950448\n2619948.112122206\n-2069477.3120131139\n27764048.23824228\n33410456.31890305\n16424982.3158847\n-15964744.842402602\n12758114.071268687\n28858071.9147132\n15124621.756822031\n55474498.44160403\n13727357.27802225\n16162047.345732767\n18134652.728656657\n2815888.8779388536\n25676915.337897226\n7605038.21860007\n8222791.756256341\n28603748.76364114\n49424506.60907516\n21787454.188048903\n25983786.180737868\n23363823.597834602\n28781340.842530515\n5671825.92498691\n36742089.59794702\n38268028.50437937\n24534578.3464882\n8222791.756256341\n24155898.475470822\n17667853.26754262\n12393713.081372341\n19956761.62719115\n215558.04459006153\n15665759.666747833\n38013705.353307314\n32804748.519022927\n-259975.51096384972\n-22354642.554684907\n-11715258.950862316\n2225270.009426981\n33690211.78508232\n-13406110.463640155\n27127806.233701065\n16558229.875089547\n-197912.80119887553\n6424698.863544786\n30247694.192125\n-8256994.18294161\n13285575.52186587\n-10322086.740593193\n-7654350.845723452\n8218597.541328944\n12407356.802552273\n-6560327.169252532\n12809412.828344164\n116377655.03765255\n35090545.03687624\n3137693.113960486\n-4991831.859973347\n24776761.481308006\n7436423.865825528\n23186231.518945225\n759382.1296827327\n24155898.475470822\n77445013.19183925\n79006555.54784848\n50556071.69432819\n-12415685.30922643\n-1324342.9081534613\n8230341.343125655\n27281268.378066435\n12839907.6121009\n24155898.475470822\n29922601.196747206\n7941924.719166342\n10503198.645797439\n55286407.44078845\n28603748.76364114\n90447833.31516065\n49626314.90163979\n23517866.745645136\n3111395.655036794\n18176499.569686737\n2332660.273207154\n13190897.554952253\n3455750.545902809\n14593423.874318212\n6333422.463239776\n17091725.880448923\n12723909.764707547\n7828362.85659526\n22363322.430628\n-1593585.7497019377\n33944534.93615437\n-15138963.504115844\n27810905.88884325\n20998618.292864453\n17159206.9653985\n19514761.311389986\n34070602.26852618\n28095102.461497024\n5405640.271317804\n17965864.33131741\n54544710.17299113\n12556246.634809298\n26517430.67112813\n33181565.4829382\n16316193.762781398\n-69739632.02367428\n19493105.393319264\n40640972.545844585\n16396237.512182325\n38013705.353307314\n24407916.089213528\n-52338335.692699246\n-17904175.062210657\n8226985.971183738\n11462117.491140764\n7436423.865825528\n63227552.80235302\n18176499.569686737\n4487807.17954337\n15565786.974016575\n31943997.25625719\n8197626.4666919615\n18726895.466989726\n41136176.0929168\n5546242.37001562\n34262592.3680967\n12447031.975460738\n58741201.35985914\n26060517.252920553\n9906721.64115003\n37505059.0511632\n24155898.475470822\n-3407766.4156768806\n114564973.82599698\n27562498.586428016\n11045366.253829364\n27364624.61606253\n45887738.96260913\n188313113.25966257\n341671841.22490215\n12242461.922340186\n94718299.59809878\n11054202.404975988\n-3545233.676060872\n18238984.915863898\n13131727.807275906\n-10739969.201062938\n11613446.282923892\n47049237.86053061\n13190897.554952253\n23567282.11869225\n26924781.839704487\n8218597.541328944\n15734129.065672839\n3696335.792596882\n94622103.36307742\n1454935.697155526\n457704002.30537826\n34205153.77367214\n3760861.8527254574\n114564973.82599698\n11590614.194390925\n17600662.03977889\n649340113.1591988\n8210209.111474151\n-14028160.534867955\n38268028.50437937\n-10132476.451053506\n3137693.113960486\n-894921.1422438286\n19861149.7109482\n21371794.79210496\n15665759.666747833\n19956761.62719115\n39271969.8315263\n17922176.418614678\n8363644.34673729\n23973330.90668541\n9476242.057240918\n-4051696.701907018\n49224694.94684016\n4292878.915771473\n'