<a href="https://colab.research.google.com/github/Phruetti/DPDM65/blob/main/final-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###ดึงข้อมูลเข้า

In [1]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [74]:
data_train = pd.read_csv('/content/drive/MyDrive/DPDM65/train.csv')
data_train

,Unnamed: 0,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,0,676.0,กันยารัตน์ ฟลอร่า วิลล์,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,NaN,0.0,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
1,1,19711.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ศิลา,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
2,2,30146P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,NaN,NaN,...,2.0,1.0,208.0,NaN,NaN,"ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่อ...",NaN,NaN,NaN,NaN
3,3,1899.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,แดงใหญ่,บ้านเดี่ยว,no,no,...,3.0,3.0,145.0,0.0,ไม่ระบุ,ไม่มี,NaN,NaN,NaN,NaN
4,4,23503.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านค้อ,บ้านเดี่ยว,no,no,...,2.0,3.0,114.0,0.0,ตะวันออกเฉียงใต้,ไม่ระบุ,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,2720,5130.0,เดอะ มอร์ ศรีจันทร์ ขอนแก่น,บริษัท วี ไอ พี แกรนด์ จำกัด,ขอนแก่น,เมืองขอนแก่น,พระลับ,บ้านเดี่ยว,no,no,...,6.0,5.0,0.0,1350.0,เหนือ,ตกแต่งครบ,NaN,NaN,NaN,NaN
2721,2721,30284P,NaN,NaN,ขอนแก่น,บ้านแฮด,บ้านแฮด,ที่ดิน,NaN,NaN,...,NaN,NaN,4625.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2722,2722,6326.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
2723,2723,6045.0,กันยารัตน์ การ์เด้นวิว รีสอร์ท,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
2724,2724,18085.0,NaN,NaN,ขอนแก่น,พล,เมืองพล,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN

In [75]:
data_train.describe()

,Unnamed: 0,land wide(m),zip_code,number_of_rai,number_of_va,construct_year,model
count,2725.000000,315.000000,1.741000e+03,2725.000000,2725.000000,0.0,0.0
mean,1362.000000,55.456159,4.635122e+06,3.561101,44.054606,NaN,NaN
std,786.784066,75.585414,1.355348e+08,15.905963,58.956727,NaN,NaN
min,0.000000,4.000000,4.000000e+04,0.000000,0.000000,NaN,NaN
25%,681.000000,12.000000,4.000000e+04,0.000000,5.000000,NaN,NaN
50%,1362.000000,27.500000,4.000000e+04,0.000000,35.000000,NaN,NaN
75%,2043.000000,65.000000,4.013000e+04,0.000000,66.000000,NaN,NaN
max,2724.000000,420.000000,4.000040e+09,458.000000,1656.000000,NaN,NaN

### cleaning data train

In [5]:
import numpy as np

In [76]:
data_train.shape

(2725, 41)

In [77]:
data_train.dtypes

Unnamed: 0              int64
id                     object
project_name           object
company                object
province               object
district               object
sub_district           object
property_type          object
home improvement       object
renovate               object
public utility         object
land type              object
land wide(m)          float64
land long(m)           object
topsoil                object
corner                 object
zip_code              float64
zone                   object
alley                  object
street                 object
latitude               object
longitude              object
number_of_rai         float64
number_of_ngan         object
number_of_va          float64
construct_year        float64
model                 float64
sell_price             object
number_of_unit         object
number_of_story        object
number_of_bedroom      object
number_of_bathroom     object
number_of_parking      object
usable_area            object
central_cost           object
direction              object
furniture              object
building_number        object
number_of_building     object
floor_number           object
parking_percentage     object
dtype: object

In [78]:
data_train['sell_price'] = pd.to_numeric(data_train['sell_price'],errors='coerce')
data_train['number_of_ngan'] = pd.to_numeric(data_train['number_of_ngan'],errors='coerce')
data_train['number_of_unit'] = pd.to_numeric(data_train['number_of_unit'],errors='coerce')
data_train['land long(m)'] = pd.to_numeric(data_train['land long(m)'],errors='coerce')
data_train['number_of_story'] = pd.to_numeric(data_train['number_of_story'],errors='coerce')
data_train['number_of_bedroom'] = pd.to_numeric(data_train['number_of_bedroom'],errors='coerce')
data_train['number_of_bathroom'] = pd.to_numeric(data_train['number_of_bathroom'],errors='coerce')
data_train['number_of_parking'] = pd.to_numeric(data_train['number_of_parking'],errors='coerce')
data_train['usable_area'] = pd.to_numeric(data_train['usable_area'],errors='coerce')

In [79]:
data_train.dtypes

Unnamed: 0              int64
id                     object
project_name           object
company                object
province               object
district               object
sub_district           object
property_type          object
home improvement       object
renovate               object
public utility         object
land type              object
land wide(m)          float64
land long(m)          float64
topsoil                object
corner                 object
zip_code              float64
zone                   object
alley                  object
street                 object
latitude               object
longitude              object
number_of_rai         float64
number_of_ngan        float64
number_of_va          float64
construct_year        float64
model                 float64
sell_price            float64
number_of_unit        float64
number_of_story       float64
number_of_bedroom     float64
number_of_bathroom    float64
number_of_parking     float64
usable_area           float64
central_cost           object
direction              object
furniture              object
building_number        object
number_of_building     object
floor_number           object
parking_percentage     object
dtype: object

In [80]:
data_train.describe()

,Unnamed: 0,land wide(m),land long(m),zip_code,number_of_rai,number_of_ngan,number_of_va,construct_year,model,sell_price,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
count,2725.000000,315.000000,251.000000,1.741000e+03,2725.000000,2724.000000,2725.000000,0.0,0.0,2.715000e+03,8.00000,1162.000000,1866.000000,1613.000000,1408.000000,1807.000000
mean,1362.000000,55.456159,101.519163,4.635122e+06,3.561101,0.698238,44.054606,NaN,NaN,2.837311e+07,187.00000,1.819277,1.587353,1.463732,1.240057,658.507853
std,786.784066,75.585414,118.978390,1.355348e+08,15.905963,4.361887,58.956727,NaN,NaN,7.713639e+08,140.87786,2.143345,2.253417,1.489652,8.321749,8553.396424
min,0.000000,4.000000,2.000000,4.000000e+04,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,681.000000,12.000000,20.000000,4.000000e+04,0.000000,0.000000,5.000000,NaN,NaN,1.450000e+06,64.25000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1362.000000,27.500000,41.000000,4.000000e+04,0.000000,0.000000,35.000000,NaN,NaN,2.590000e+06,170.50000,2.000000,1.000000,1.000000,0.000000,23.000000
75%,2043.000000,65.000000,150.000000,4.013000e+04,0.000000,1.000000,66.000000,NaN,NaN,4.900000e+06,336.50000,2.000000,3.000000,2.000000,2.000000,150.000000
max,2724.000000,420.000000,644.000000,4.000040e+09,458.000000,145.000000,1656.000000,NaN,NaN,4.000000e+10,347.00000,37.000000,40.000000,16.000000,288.000000,232000.000000

In [81]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2725 entries, 0 to 2724
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          2725 non-null   int64
 1   id                  2725 non-null   object
 2   project_name        621 non-null    object
 3   company             419 non-null    object
 4   province            2723 non-null   object
 5   district            2721 non-null   object
 6   sub_district        2541 non-null   object
 7   property_type       2725 non-null   object
 8   home improvement    1606 non-null   object
 9   renovate            1587 non-null   object
 10  public utility      804 non-null    object
 11  land type           310 non-null    object
 12  land wide(m)        315 non-null    float64
 13  land long(m)        251 non-null    float64
 14  topsoil             510 non-null    object
 15  corner              485 non-null    object
 16  zip_code            1741 non-null   float64
 17  zone                1646 non-null   object
 18  alley               310 non-null    object
 19  street              908 non-null    object
 20  latitude            2700 non-null   object
 21  longitude           2698 non-null   object
 22  number_of_rai       2725 non-null   float64
 23  number_of_ngan      2724 non-null   float64
 24  number_of_va        2725 non-null   float64
 25  construct_year      0 non-null      float64
 26  model               0 non-null      float64
 27  sell_price          2715 non-null   float64
 28  number_of_unit      8 non-null      float64
 29  number_of_story     1162 non-null   float64
 30  number_of_bedroom   1866 non-null   float64
 31  number_of_bathroom  1613 non-null   float64
 32  number_of_parking   1408 non-null   float64
 33  usable_area         1807 non-null   float64
 34  central_cost        1165 non-null   object
 35  direction           1824 non-null   object
 36  furniture           2162 non-null   object
 37  building_number     43 non-null     object
 38  number_of_building  8 non-null      object
 39  floor_number        410 non-null    object
 40  parking_percentage  13 non-null     object
dtypes: float64(15), int64(1), object(25)
memory usage: 873.0+ KB

In [82]:
 data_train.fillna(0)

,Unnamed: 0,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,0,676.0,กันยารัตน์ ฟลอร่า วิลล์,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0,ไม่ระบุ,ไม่ระบุ,0,0,0,0
1,1,19711.0,0,0,ขอนแก่น,เมืองขอนแก่น,ศิลา,ที่ดิน,0,0,...,0.0,0.0,0.0,0,ไม่ระบุ,ไม่ระบุ,0,0,0,0
2,2,30146P,0,0,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,0,0,...,2.0,1.0,208.0,0,0,"ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่อ...",0,0,0,0
3,3,1899.0,0,0,ขอนแก่น,เมืองขอนแก่น,แดงใหญ่,บ้านเดี่ยว,no,no,...,3.0,3.0,145.0,0.0,ไม่ระบุ,ไม่มี,0,0,0,0
4,4,23503.0,0,0,ขอนแก่น,เมืองขอนแก่น,บ้านค้อ,บ้านเดี่ยว,no,no,...,2.0,3.0,114.0,0.0,ตะวันออกเฉียงใต้,ไม่ระบุ,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,2720,5130.0,เดอะ มอร์ ศรีจันทร์ ขอนแก่น,บริษัท วี ไอ พี แกรนด์ จำกัด,ขอนแก่น,เมืองขอนแก่น,พระลับ,บ้านเดี่ยว,no,no,...,6.0,5.0,0.0,1350.0,เหนือ,ตกแต่งครบ,0,0,0,0
2721,2721,30284P,0,0,ขอนแก่น,บ้านแฮด,บ้านแฮด,ที่ดิน,0,0,...,0.0,0.0,4625.0,0,0,0,0,0,0,0
2722,2722,6326.0,0,0,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,0,0,0.0,0
2723,2723,6045.0,กันยารัตน์ การ์เด้นวิว รีสอร์ท,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,0,0,0.0,0
2724,2724,18085.0,0,0,ขอนแก่น,พล,เมืองพล,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,0,0,0,0

In [83]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2725 entries, 0 to 2724
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          2725 non-null   int64
 1   id                  2725 non-null   object
 2   project_name        621 non-null    object
 3   company             419 non-null    object
 4   province            2723 non-null   object
 5   district            2721 non-null   object
 6   sub_district        2541 non-null   object
 7   property_type       2725 non-null   object
 8   home improvement    1606 non-null   object
 9   renovate            1587 non-null   object
 10  public utility      804 non-null    object
 11  land type           310 non-null    object
 12  land wide(m)        315 non-null    float64
 13  land long(m)        251 non-null    float64
 14  topsoil             510 non-null    object
 15  corner              485 non-null    object
 16  zip_code            1741 non-null   float64
 17  zone                1646 non-null   object
 18  alley               310 non-null    object
 19  street              908 non-null    object
 20  latitude            2700 non-null   object
 21  longitude           2698 non-null   object
 22  number_of_rai       2725 non-null   float64
 23  number_of_ngan      2724 non-null   float64
 24  number_of_va        2725 non-null   float64
 25  construct_year      0 non-null      float64
 26  model               0 non-null      float64
 27  sell_price          2715 non-null   float64
 28  number_of_unit      8 non-null      float64
 29  number_of_story     1162 non-null   float64
 30  number_of_bedroom   1866 non-null   float64
 31  number_of_bathroom  1613 non-null   float64
 32  number_of_parking   1408 non-null   float64
 33  usable_area         1807 non-null   float64
 34  central_cost        1165 non-null   object
 35  direction           1824 non-null   object
 36  furniture           2162 non-null   object
 37  building_number     43 non-null     object
 38  number_of_building  8 non-null      object
 39  floor_number        410 non-null    object
 40  parking_percentage  13 non-null     object
dtypes: float64(15), int64(1), object(25)
memory usage: 873.0+ KB

In [116]:
data1_train= data_train.iloc[:,[False, False, False, False, False, False, False, False, False, False, False, False, True, True, False, False, False, False, False, False, False, False, True, True, True, True, False, True, True, True, True, True, True, True, False, False, False, False, False, False, False]]

In [117]:
data1_train.dtypes

land wide(m)          float64
land long(m)          float64
number_of_rai         float64
number_of_ngan        float64
number_of_va          float64
construct_year        float64
sell_price            float64
number_of_unit        float64
number_of_story       float64
number_of_bedroom     float64
number_of_bathroom    float64
number_of_parking     float64
usable_area           float64
dtype: object

In [118]:
data11_train=data1_train.fillna(0)
data11_train

,land wide(m),land long(m),number_of_rai,number_of_ngan,number_of_va,construct_year,sell_price,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
0,0.0,0.0,0.0,0.0,98.4,0.0,2860000.0,0.0,0.0,0.0,0.0,0.0,0.0
1,24.0,69.0,3.0,0.0,72.0,0.0,17490000.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,52.0,0.0,2800000.0,0.0,1.0,3.0,2.0,1.0,208.0
3,0.0,0.0,0.0,0.0,40.0,0.0,2600000.0,0.0,2.0,3.0,3.0,3.0,145.0
4,0.0,0.0,0.0,0.0,50.0,0.0,1490000.0,0.0,1.0,2.0,2.0,3.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,0.0,0.0,0.0,0.0,135.0,0.0,12500000.0,0.0,2.0,5.0,6.0,5.0,0.0
2721,0.0,0.0,11.0,2.0,25.0,0.0,8671875.0,0.0,0.0,0.0,0.0,0.0,4625.0
2722,0.0,0.0,0.0,0.0,58.0,0.0,1400000.0,0.0,0.0,0.0,0.0,0.0,0.0
2723,0.0,0.0,0.0,0.0,78.0,0.0,2915000.0,0.0,0.0,0.0,0.0,0.0,0.0
2724,0.0,0.0,0.0,0.0,32.0,0.0,1045000.0,0.0,1.0,0.0,0.0,0.0,0.0

In [119]:
data11_train

,land wide(m),land long(m),number_of_rai,number_of_ngan,number_of_va,construct_year,sell_price,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
0,0.0,0.0,0.0,0.0,98.4,0.0,2860000.0,0.0,0.0,0.0,0.0,0.0,0.0
1,24.0,69.0,3.0,0.0,72.0,0.0,17490000.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,52.0,0.0,2800000.0,0.0,1.0,3.0,2.0,1.0,208.0
3,0.0,0.0,0.0,0.0,40.0,0.0,2600000.0,0.0,2.0,3.0,3.0,3.0,145.0
4,0.0,0.0,0.0,0.0,50.0,0.0,1490000.0,0.0,1.0,2.0,2.0,3.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,0.0,0.0,0.0,0.0,135.0,0.0,12500000.0,0.0,2.0,5.0,6.0,5.0,0.0
2721,0.0,0.0,11.0,2.0,25.0,0.0,8671875.0,0.0,0.0,0.0,0.0,0.0,4625.0
2722,0.0,0.0,0.0,0.0,58.0,0.0,1400000.0,0.0,0.0,0.0,0.0,0.0,0.0
2723,0.0,0.0,0.0,0.0,78.0,0.0,2915000.0,0.0,0.0,0.0,0.0,0.0,0.0
2724,0.0,0.0,0.0,0.0,32.0,0.0,1045000.0,0.0,1.0,0.0,0.0,0.0,0.0

###data test

In [ ]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

In [23]:
data_test = pd.read_csv('/content/drive/MyDrive/DPDM65/test10nov_X.csv')
data_test

,INDEX,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,2725,10441P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2726,520.0,NaN,NaN,ขอนแก่น,ชุมแพ,ไชยสอ,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
2,2727,6340.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,คอนโด,no,no,...,0.0,NaN,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,0.0
3,2728,17032.0,NaN,NaN,ขอนแก่น,หนองเรือ,โนนทอง,บ้านเดี่ยว,no,no,...,2.0,1.0,133.0,0.0,ตะวันออกเฉียงเหนือ,ไม่ระบุ,NaN,NaN,NaN,NaN
4,2729,18091.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,คอนโด,no,no,...,1.0,NaN,46.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2920,6040.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านเป็ด,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
196,2921,681.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,พระลับ,อาคารพาณิชย์/สำนักงาน,no,no,...,NaN,NaN,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
197,2922,1182.0,NaN,NaN,ขอนแก่น,ชุมแพ,หนองไผ่,บ้านเดี่ยว,NaN,NaN,...,NaN,0.0,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
198,2923,18567.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ท่าพระ,บ้านเดี่ยว,no,no,...,1.0,1.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
199,2924,20219P,บ้านพฤกษา แอร์พอร์ต มะลิวัลย์,บริษัท พฤกษา เรียลเอสเตท จำกัด (มหาชน),ขอนแก่น,มัญจาคีรี,โพนเพ็ก,บ้านเดี่ยว,yes,no,...,2.0,2.0,NaN,NaN,NaN,ครบครัน,NaN,NaN,NaN,NaN

In [24]:
data_test.shape

(200, 40)

In [25]:
data_test.dtypes

INDEX                   int64
id                     object
project_name           object
company                object
province               object
district               object
sub_district           object
property_type          object
home improvement       object
renovate               object
public utility         object
land type              object
land wide(m)          float64
land long(m)          float64
topsoil                object
corner                 object
zip_code              float64
zone                   object
alley                  object
street                 object
latitude               object
longitude             float64
number_of_rai         float64
number_of_ngan        float64
number_of_va          float64
construct_year        float64
model                 float64
number_of_unit         object
number_of_story       float64
number_of_bedroom     float64
number_of_bathroom    float64
number_of_parking     float64
usable_area           float64
central_cost           object
direction              object
furniture              object
building_number        object
number_of_building     object
floor_number           object
parking_percentage    float64
dtype: object

In [32]:
data1_test=data_test[['land wide(m)',	'land long(m)',	'number_of_rai',	'number_of_ngan',	'number_of_va',	'number_of_unit',	'number_of_story',	'number_of_bedroom',	'number_of_bathroom',	'number_of_parking',	'usable_area']]

In [90]:
data1_test

,land wide(m),land long(m),number_of_rai,number_of_ngan,number_of_va,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
0,NaN,NaN,9.0,3.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,1.0,0.0,26.0,NaN,NaN,0.0,NaN,NaN,NaN
2,NaN,NaN,0.0,0.0,32.0,NaN,NaN,0.0,0.0,NaN,0.0
3,NaN,NaN,0.0,0.0,75.0,NaN,1.0,1.0,2.0,1.0,133.0
4,NaN,NaN,0.0,0.0,0.0,NaN,NaN,1.0,1.0,NaN,46.0
...,...,...,...,...,...,...,...,...,...,...,...
195,NaN,NaN,0.0,0.0,69.0,NaN,NaN,0.0,0.0,0.0,0.0
196,NaN,NaN,0.0,0.0,20.0,NaN,NaN,0.0,NaN,NaN,0.0
197,NaN,NaN,0.0,1.0,21.0,NaN,NaN,0.0,NaN,0.0,0.0
198,NaN,NaN,0.0,0.0,83.7,NaN,2.0,1.0,1.0,1.0,0.0
199,NaN,NaN,0.0,0.0,50.0,NaN,2.0,3.0,2.0,2.0,NaN

In [91]:
data_test['number_of_ngan'] = pd.to_numeric(data_test['number_of_ngan'],errors='coerce')
data_test['number_of_unit'] = pd.to_numeric(data_test['number_of_unit'],errors='coerce')
data_test['land long(m)'] = pd.to_numeric(data_test['land long(m)'],errors='coerce')
data_test['number_of_story'] = pd.to_numeric(data_test['number_of_story'],errors='coerce')
data_test['number_of_bedroom'] = pd.to_numeric(data_test['number_of_bedroom'],errors='coerce')
data_test['number_of_bathroom'] = pd.to_numeric(data_test['number_of_bathroom'],errors='coerce')
data_test['number_of_parking'] = pd.to_numeric(data_test['number_of_parking'],errors='coerce')
data_test['usable_area'] = pd.to_numeric(data_test['usable_area'],errors='coerce')

In [128]:
data11_test=data1_test.fillna(0)

###เริ่มทำ data Regression

In [114]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [111]:
x_train=data11_train[['land wide(m)',	'land long(m)'	,'number_of_rai',	'number_of_ngan',	'number_of_va'	,'number_of_unit','number_of_story','number_of_bedroom','number_of_bathroom','number_of_parking','usable_area']]
x_train

,land wide(m),land long(m),number_of_rai,number_of_ngan,number_of_va,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
0,0.0,0.0,0.0,0.0,98.4,0.0,0.0,0.0,0.0,0.0,0.0
1,24.0,69.0,3.0,0.0,72.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,52.0,0.0,1.0,3.0,2.0,1.0,208.0
3,0.0,0.0,0.0,0.0,40.0,0.0,2.0,3.0,3.0,3.0,145.0
4,0.0,0.0,0.0,0.0,50.0,0.0,1.0,2.0,2.0,3.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...
2720,0.0,0.0,0.0,0.0,135.0,0.0,2.0,5.0,6.0,5.0,0.0
2721,0.0,0.0,11.0,2.0,25.0,0.0,0.0,0.0,0.0,0.0,4625.0
2722,0.0,0.0,0.0,0.0,58.0,0.0,0.0,0.0,0.0,0.0,0.0
2723,0.0,0.0,0.0,0.0,78.0,0.0,0.0,0.0,0.0,0.0,0.0
2724,0.0,0.0,0.0,0.0,32.0,0.0,1.0,0.0,0.0,0.0,0.0

In [122]:
 y_train=data11_train['sell_price']
 y_train

0        2860000.0
1       17490000.0
2        2800000.0
3        2600000.0
4        1490000.0
           ...
2720    12500000.0
2721     8671875.0
2722     1400000.0
2723     2915000.0
2724     1045000.0
Name: sell_price, Length: 2725, dtype: float64

In [123]:
Lr =LinearRegression()
Lr.fit(x_train,y_train)

LinearRegression()

In [131]:
predicted = Lr.predict(data11_test)
predicted

array([ 1.04836847e+07,  2.22781616e+07,  2.09740542e+07,  2.22282197e+07,
        8.28570498e+06,  2.29134844e+07,  9.71666298e+06,  1.96891259e+07,
        8.28151077e+06,  3.31815655e+07,  1.74438619e+07,  9.91511007e+06,
        1.89394690e+07,  1.58538507e+07,  4.66363202e+06,  7.90235190e+06,
       -9.31573000e+07,  3.39445349e+07,  2.23465310e+07,  2.02410785e+07,
        1.36180462e+07, -3.61943208e+06,  1.53268122e+07, -6.56032717e+06,
        2.59096523e+07,  8.21859754e+06, -3.40776642e+06,  1.52703688e+07,
        1.53808078e+07,  8.08724729e+06, -7.69451770e+07, -2.51760793e+06,
        5.77834301e+07,  1.20390034e+07,  4.48292955e+06,  2.56514830e+07,
        1.53512345e+07,  8.05827941e+06,  5.27025050e+05,  1.74898271e+07,
        8.24795705e+06, -2.57863594e+06,  9.56984683e+06,  1.45285878e+08,
        4.48554114e+07,  3.13769311e+06,  1.66632428e+07,  6.10252419e+06,
       -2.30906198e+06,  8.22279176e+06,  2.37222579e+06,  1.13231559e+08,
        1.42081902e+07,  3.00979923e+07,  4.10404123e+07,  2.41013607e+07,
       -1.00397073e+06,  1.62482099e+07,  8.66737854e+06,  2.60605173e+07,
       -6.56032717e+06,  2.31511862e+07,  1.05130645e+07,  2.64924325e+07,
        1.26230782e+06,  3.56480659e+07,  5.91178417e+06, -1.60875012e+07,
        6.06106111e+06,  1.81764996e+07,  6.55507708e+07,  1.65996960e+07,
        6.90375857e+06, -1.20940038e+07,  3.31528519e+06,  3.62931000e+08,
        1.58538507e+07, -6.56032717e+06,  3.16556266e+07,  3.05464689e+07,
        8.22698597e+06,  1.45540201e+08,  2.87427126e+06,  3.40024946e+07,
       -1.80794185e+07,  3.41369867e+07,  1.44254408e+07,  2.73321330e+07,
        7.77924411e+06,  1.79221764e+07,  3.65562481e+07, -6.56032717e+06,
       -1.86282597e+07,  1.89903337e+07,  4.43043030e+07,  3.43900609e+07,
        1.48360737e+07,  3.59245389e+07,  1.76932856e+07,  1.97024385e+07,
        1.86851459e+07,  1.14564974e+08,  3.20091084e+07,  3.03840108e+07,
        1.18768523e+07,  1.02637683e+06,  1.70516067e+08,  5.81052343e+07,
        2.48897625e+07,  3.44023166e+07,  2.10050053e+08,  2.50521906e+07,
        1.70105279e+08,  8.15082531e+06,  3.13769311e+06,  8.22698597e+06,
        2.88580719e+07,  3.31815655e+07,  8.21859754e+06, -7.86386910e+06,
        2.66954569e+07,  2.03824823e+07,  1.12760339e+07,  1.68814475e+07,
        1.11956737e+09,  1.03565232e+07,  1.31612788e+06, -2.19046788e+07,
        1.31400329e+07,  8.66687122e+06,  3.68579374e+07,  1.18439332e+08,
       -1.63118273e+06, -9.31749872e+05, -8.05923424e+05,  2.30550481e+07,
        6.38241886e+06,  1.36740378e+07,  4.13239676e+07,  4.35806838e+07,
        1.84308227e+07,  2.46348109e+06,  1.31502795e+07,  4.62150246e+07,
        2.54992698e+07,  1.79221764e+07,  2.33579395e+07,  3.13769311e+06,
        3.13769311e+06,  6.20521562e+06, -5.79735772e+06,  1.03490922e+08,
        7.72535505e+06,  3.37156441e+07,  6.83468348e+06,  1.13034051e+07,
        1.69048838e+07,  1.40123557e+08,  5.93524778e+06,  3.60992641e+08,
        1.73717712e+07,  6.94703722e+06,  3.54704738e+07,  8.22698597e+06,
        3.41479935e+07,  1.65523528e+07,  6.20891808e+06,  1.12926252e+07,
        1.49452932e+07,  4.24445379e+07, -3.12895797e+06,  2.20922078e+07,
        4.96263149e+07,  3.90101766e+07, -7.17543087e+08,  3.88622336e+06,
        3.66687328e+07, -1.08137381e+07, -1.00935775e+07, -3.10753264e+06,
        6.47478414e+07, -3.37509674e+06,  1.81018954e+07,  6.29043193e+06,
        1.48569860e+07,  3.93032034e+07, -2.84713512e+07, -4.03866085e+06,
        4.86766494e+06,  6.71054386e+06,  6.77794845e+07,  1.33104521e+07,
        1.73905827e+07,  4.40405765e+06,  1.88627380e+07,  3.03840108e+07,
        1.79221764e+07,  8.47847929e+06,  2.45805677e+07,  9.51942735e+06])

In [135]:
re = pd.concat([data11_test, pd.Series(predicted,name='predicted')],axis='columns')
re

,land wide(m),land long(m),number_of_rai,number_of_ngan,number_of_va,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area,predicted
0,0.0,0.0,9.0,3.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,1.048368e+07
1,0.0,0.0,1.0,0.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,2.227816e+07
2,0.0,0.0,0.0,0.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,2.097405e+07
3,0.0,0.0,0.0,0.0,75.0,0.0,1.0,1.0,2.0,1.0,133.0,2.222822e+07
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,46.0,8.285705e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.0,0.0,0.0,0.0,69.0,0.0,0.0,0.0,0.0,0.0,0.0,3.038401e+07
196,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,1.792218e+07
197,0.0,0.0,0.0,1.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,8.478479e+06
198,0.0,0.0,0.0,0.0,83.7,0.0,2.0,1.0,1.0,1.0,0.0,2.458057e+07
199,0.0,0.0,0.0,0.0,50.0,0.0,2.0,3.0,2.0,2.0,0.0,9.519427e+06

In [137]:
re['predicted']

0      1.048368e+07
1      2.227816e+07
2      2.097405e+07
3      2.222822e+07
4      8.285705e+06
           ...
195    3.038401e+07
196    1.792218e+07
197    8.478479e+06
198    2.458057e+07
199    9.519427e+06
Name: predicted, Length: 200, dtype: float64