<a href="https://colab.research.google.com/github/Phruetti/DPDM65/blob/main/final-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###ดึงข้อมูลเข้า

In [1]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd

In [5]:
data_train = pd.read_csv('/content/drive/MyDrive/DPDM65/train.csv')
data_train

,Unnamed: 0,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,0,676.0,กันยารัตน์ ฟลอร่า วิลล์,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,NaN,0.0,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
1,1,19711.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ศิลา,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
2,2,30146P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,NaN,NaN,...,2.0,1.0,208.0,NaN,NaN,"ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่อ...",NaN,NaN,NaN,NaN
3,3,1899.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,แดงใหญ่,บ้านเดี่ยว,no,no,...,3.0,3.0,145.0,0.0,ไม่ระบุ,ไม่มี,NaN,NaN,NaN,NaN
4,4,23503.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านค้อ,บ้านเดี่ยว,no,no,...,2.0,3.0,114.0,0.0,ตะวันออกเฉียงใต้,ไม่ระบุ,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,2720,5130.0,เดอะ มอร์ ศรีจันทร์ ขอนแก่น,บริษัท วี ไอ พี แกรนด์ จำกัด,ขอนแก่น,เมืองขอนแก่น,พระลับ,บ้านเดี่ยว,no,no,...,6.0,5.0,0.0,1350.0,เหนือ,ตกแต่งครบ,NaN,NaN,NaN,NaN
2721,2721,30284P,NaN,NaN,ขอนแก่น,บ้านแฮด,บ้านแฮด,ที่ดิน,NaN,NaN,...,NaN,NaN,4625.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2722,2722,6326.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
2723,2723,6045.0,กันยารัตน์ การ์เด้นวิว รีสอร์ท,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
2724,2724,18085.0,NaN,NaN,ขอนแก่น,พล,เมืองพล,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN

In [11]:
data_train.describe()

,Unnamed: 0,land wide(m),zip_code,number_of_rai,number_of_va,construct_year,model
count,2725.000000,315.000000,1.741000e+03,2725.000000,2725.000000,0.0,0.0
mean,1362.000000,55.456159,4.635122e+06,3.561101,44.054606,NaN,NaN
std,786.784066,75.585414,1.355348e+08,15.905963,58.956727,NaN,NaN
min,0.000000,4.000000,4.000000e+04,0.000000,0.000000,NaN,NaN
25%,681.000000,12.000000,4.000000e+04,0.000000,5.000000,NaN,NaN
50%,1362.000000,27.500000,4.000000e+04,0.000000,35.000000,NaN,NaN
75%,2043.000000,65.000000,4.013000e+04,0.000000,66.000000,NaN,NaN
max,2724.000000,420.000000,4.000040e+09,458.000000,1656.000000,NaN,NaN

### cleaning data

In [6]:
import numpy as np

In [7]:

data_train.shape

(2725, 41)

In [8]:
data_train.dtypes

Unnamed: 0              int64
id                     object
project_name           object
company                object
province               object
district               object
sub_district           object
property_type          object
home improvement       object
renovate               object
public utility         object
land type              object
land wide(m)          float64
land long(m)           object
topsoil                object
corner                 object
zip_code              float64
zone                   object
alley                  object
street                 object
latitude               object
longitude              object
number_of_rai         float64
number_of_ngan         object
number_of_va          float64
construct_year        float64
model                 float64
sell_price             object
number_of_unit         object
number_of_story        object
number_of_bedroom      object
number_of_bathroom     object
number_of_parking      object
usable_area            object
central_cost           object
direction              object
furniture              object
building_number        object
number_of_building     object
floor_number           object
parking_percentage     object
dtype: object

In [89]:
data_train['sell_price'] = pd.to_numeric(data_train['sell_price'],errors='coerce')
data_train['number_of_ngan'] = pd.to_numeric(data_train['number_of_ngan'],errors='coerce')
data_train['number_of_unit'] = pd.to_numeric(data_train['number_of_unit'],errors='coerce')
data_train['land long(m)'] = pd.to_numeric(data_train['land long(m)'],errors='coerce')
data_train['number_of_story'] = pd.to_numeric(data_train['number_of_story'],errors='coerce')
data_train['number_of_bedroom'] = pd.to_numeric(data_train['number_of_bedroom'],errors='coerce')
data_train['number_of_bathroom'] = pd.to_numeric(data_train['number_of_bathroom'],errors='coerce')
data_train['number_of_parking'] = pd.to_numeric(data_train['number_of_parking'],errors='coerce')
data_train['usable_area'] = pd.to_numeric(data_train['usable_area'],errors='coerce')

In [90]:
data_train.dtypes

Unnamed: 0              int64
id                     object
project_name           object
company                object
province               object
district               object
sub_district           object
property_type          object
home improvement       object
renovate               object
public utility         object
land type              object
land wide(m)          float64
land long(m)          float64
topsoil                object
corner                 object
zip_code              float64
zone                   object
alley                  object
street                 object
latitude               object
longitude              object
number_of_rai         float64
number_of_ngan        float64
number_of_va          float64
construct_year        float64
model                 float64
sell_price            float64
number_of_unit        float64
number_of_story       float64
number_of_bedroom     float64
number_of_bathroom    float64
number_of_parking     float64
usable_area           float64
central_cost           object
direction              object
furniture              object
building_number        object
number_of_building     object
floor_number           object
parking_percentage     object
dtype: object

In [94]:
data_train.describe()

,Unnamed: 0,land wide(m),land long(m),zip_code,number_of_rai,number_of_ngan,number_of_va,construct_year,model,sell_price,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
count,2725.000000,315.000000,251.000000,1.741000e+03,2725.000000,2724.000000,2725.000000,0.0,0.0,2.715000e+03,8.00000,1162.000000,1866.000000,1613.000000,1408.000000,1807.000000
mean,1362.000000,55.456159,101.519163,4.635122e+06,3.561101,0.698238,44.054606,NaN,NaN,2.837311e+07,187.00000,1.819277,1.587353,1.463732,1.240057,658.507853
std,786.784066,75.585414,118.978390,1.355348e+08,15.905963,4.361887,58.956727,NaN,NaN,7.713639e+08,140.87786,2.143345,2.253417,1.489652,8.321749,8553.396424
min,0.000000,4.000000,2.000000,4.000000e+04,0.000000,0.000000,0.000000,NaN,NaN,0.000000e+00,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,681.000000,12.000000,20.000000,4.000000e+04,0.000000,0.000000,5.000000,NaN,NaN,1.450000e+06,64.25000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1362.000000,27.500000,41.000000,4.000000e+04,0.000000,0.000000,35.000000,NaN,NaN,2.590000e+06,170.50000,2.000000,1.000000,1.000000,0.000000,23.000000
75%,2043.000000,65.000000,150.000000,4.013000e+04,0.000000,1.000000,66.000000,NaN,NaN,4.900000e+06,336.50000,2.000000,3.000000,2.000000,2.000000,150.000000
max,2724.000000,420.000000,644.000000,4.000040e+09,458.000000,145.000000,1656.000000,NaN,NaN,4.000000e+10,347.00000,37.000000,40.000000,16.000000,288.000000,232000.000000

In [95]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2725 entries, 0 to 2724
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          2725 non-null   int64
 1   id                  2725 non-null   object
 2   project_name        621 non-null    object
 3   company             419 non-null    object
 4   province            2723 non-null   object
 5   district            2721 non-null   object
 6   sub_district        2541 non-null   object
 7   property_type       2725 non-null   object
 8   home improvement    1606 non-null   object
 9   renovate            1587 non-null   object
 10  public utility      804 non-null    object
 11  land type           310 non-null    object
 12  land wide(m)        315 non-null    float64
 13  land long(m)        251 non-null    float64
 14  topsoil             510 non-null    object
 15  corner              485 non-null    object
 16  zip_code            1741 non-null   float64
 17  zone                1646 non-null   object
 18  alley               310 non-null    object
 19  street              908 non-null    object
 20  latitude            2700 non-null   object
 21  longitude           2698 non-null   object
 22  number_of_rai       2725 non-null   float64
 23  number_of_ngan      2724 non-null   float64
 24  number_of_va        2725 non-null   float64
 25  construct_year      0 non-null      float64
 26  model               0 non-null      float64
 27  sell_price          2715 non-null   float64
 28  number_of_unit      8 non-null      float64
 29  number_of_story     1162 non-null   float64
 30  number_of_bedroom   1866 non-null   float64
 31  number_of_bathroom  1613 non-null   float64
 32  number_of_parking   1408 non-null   float64
 33  usable_area         1807 non-null   float64
 34  central_cost        1165 non-null   object
 35  direction           1824 non-null   object
 36  furniture           2162 non-null   object
 37  building_number     43 non-null     object
 38  number_of_building  8 non-null      object
 39  floor_number        410 non-null    object
 40  parking_percentage  13 non-null     object
dtypes: float64(15), int64(1), object(25)
memory usage: 873.0+ KB

In [96]:
data_fn = data_train.fillna(0)
data_fn

,Unnamed: 0,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,0,676.0,กันยารัตน์ ฟลอร่า วิลล์,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0,ไม่ระบุ,ไม่ระบุ,0,0,0,0
1,1,19711.0,0,0,ขอนแก่น,เมืองขอนแก่น,ศิลา,ที่ดิน,0,0,...,0.0,0.0,0.0,0,ไม่ระบุ,ไม่ระบุ,0,0,0,0
2,2,30146P,0,0,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,0,0,...,2.0,1.0,208.0,0,0,"ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่อ...",0,0,0,0
3,3,1899.0,0,0,ขอนแก่น,เมืองขอนแก่น,แดงใหญ่,บ้านเดี่ยว,no,no,...,3.0,3.0,145.0,0.0,ไม่ระบุ,ไม่มี,0,0,0,0
4,4,23503.0,0,0,ขอนแก่น,เมืองขอนแก่น,บ้านค้อ,บ้านเดี่ยว,no,no,...,2.0,3.0,114.0,0.0,ตะวันออกเฉียงใต้,ไม่ระบุ,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,2720,5130.0,เดอะ มอร์ ศรีจันทร์ ขอนแก่น,บริษัท วี ไอ พี แกรนด์ จำกัด,ขอนแก่น,เมืองขอนแก่น,พระลับ,บ้านเดี่ยว,no,no,...,6.0,5.0,0.0,1350.0,เหนือ,ตกแต่งครบ,0,0,0,0
2721,2721,30284P,0,0,ขอนแก่น,บ้านแฮด,บ้านแฮด,ที่ดิน,0,0,...,0.0,0.0,4625.0,0,0,0,0,0,0,0
2722,2722,6326.0,0,0,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,0,0,0.0,0
2723,2723,6045.0,กันยารัตน์ การ์เด้นวิว รีสอร์ท,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,0,0,0.0,0
2724,2724,18085.0,0,0,ขอนแก่น,พล,เมืองพล,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,0,0,0,0

In [97]:
data_fn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2725 entries, 0 to 2724
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          2725 non-null   int64
 1   id                  2725 non-null   object
 2   project_name        2725 non-null   object
 3   company             2725 non-null   object
 4   province            2725 non-null   object
 5   district            2725 non-null   object
 6   sub_district        2725 non-null   object
 7   property_type       2725 non-null   object
 8   home improvement    2725 non-null   object
 9   renovate            2725 non-null   object
 10  public utility      2725 non-null   object
 11  land type           2725 non-null   object
 12  land wide(m)        2725 non-null   float64
 13  land long(m)        2725 non-null   float64
 14  topsoil             2725 non-null   object
 15  corner              2725 non-null   object
 16  zip_code            2725 non-null   float64
 17  zone                2725 non-null   object
 18  alley               2725 non-null   object
 19  street              2725 non-null   object
 20  latitude            2725 non-null   object
 21  longitude           2725 non-null   object
 22  number_of_rai       2725 non-null   float64
 23  number_of_ngan      2725 non-null   float64
 24  number_of_va        2725 non-null   float64
 25  construct_year      2725 non-null   float64
 26  model               2725 non-null   float64
 27  sell_price          2725 non-null   float64
 28  number_of_unit      2725 non-null   float64
 29  number_of_story     2725 non-null   float64
 30  number_of_bedroom   2725 non-null   float64
 31  number_of_bathroom  2725 non-null   float64
 32  number_of_parking   2725 non-null   float64
 33  usable_area         2725 non-null   float64
 34  central_cost        2725 non-null   object
 35  direction           2725 non-null   object
 36  furniture           2725 non-null   object
 37  building_number     2725 non-null   object
 38  number_of_building  2725 non-null   object
 39  floor_number        2725 non-null   object
 40  parking_percentage  2725 non-null   object
dtypes: float64(15), int64(1), object(25)
memory usage: 873.0+ KB

In [98]:
data_fn.describe()

,Unnamed: 0,land wide(m),land long(m),zip_code,number_of_rai,number_of_ngan,number_of_va,construct_year,model,sell_price,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
count,2725.000000,2725.000000,2725.000000,2.725000e+03,2725.000000,2725.000000,2725.000000,2725.0,2725.0,2.725000e+03,2725.000000,2725.000000,2725.000000,2725.000000,2725.000000,2725.000000
mean,1362.000000,6.410528,9.350939,2.961375e+06,3.561101,0.697982,44.054606,0.0,0.0,2.826899e+07,0.548991,0.775780,1.086972,0.866422,0.640734,436.669244
std,786.784066,31.194369,46.490377,1.083462e+08,15.905963,4.361107,58.956727,0.0,0.0,7.699487e+08,12.385403,1.663672,2.005168,1.353108,6.012813,6971.517395
min,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,681.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,5.000000,0.0,0.0,1.424000e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1362.000000,0.000000,0.000000,4.000000e+04,0.000000,0.000000,35.000000,0.0,0.0,2.583000e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2043.000000,0.000000,0.000000,4.000000e+04,0.000000,1.000000,66.000000,0.0,0.0,4.900000e+06,0.000000,2.000000,2.000000,2.000000,0.000000,84.000000
max,2724.000000,420.000000,644.000000,4.000040e+09,458.000000,145.000000,1656.000000,0.0,0.0,4.000000e+10,347.000000,37.000000,40.000000,16.000000,288.000000,232000.000000

###เริ่มทำ data Regression

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [106]:
x_train=data_fn[['land wide(m)',	'land long(m)','zip_code'	,'number_of_rai',	'number_of_ngan',	'number_of_va'	,'number_of_unit','number_of_story','number_of_bedroom','number_of_bathroom','number_of_parking','usable_area']]
x_train

,land wide(m),land long(m),zip_code,number_of_rai,number_of_ngan,number_of_va,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
0,0.0,0.0,40000.0,0.0,0.0,98.4,0.0,0.0,0.0,0.0,0.0,0.0
1,24.0,69.0,40000.0,3.0,0.0,72.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,52.0,0.0,1.0,3.0,2.0,1.0,208.0
3,0.0,0.0,40000.0,0.0,0.0,40.0,0.0,2.0,3.0,3.0,3.0,145.0
4,0.0,0.0,40000.0,0.0,0.0,50.0,0.0,1.0,2.0,2.0,3.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2720,0.0,0.0,40000.0,0.0,0.0,135.0,0.0,2.0,5.0,6.0,5.0,0.0
2721,0.0,0.0,0.0,11.0,2.0,25.0,0.0,0.0,0.0,0.0,0.0,4625.0
2722,0.0,0.0,40000.0,0.0,0.0,58.0,0.0,0.0,0.0,0.0,0.0,0.0
2723,0.0,0.0,40000.0,0.0,0.0,78.0,0.0,0.0,0.0,0.0,0.0,0.0
2724,0.0,0.0,40120.0,0.0,0.0,32.0,0.0,1.0,0.0,0.0,0.0,0.0

In [113]:
x1_train=data_fn['zip_code']
x1_train

0       40000.0
1       40000.0
2           0.0
3       40000.0
4       40000.0
         ...
2720    40000.0
2721        0.0
2722    40000.0
2723    40000.0
2724    40120.0
Name: zip_code, Length: 2725, dtype: float64

In [111]:
 y_train=data_fn['sell_price']
 y_train

0        2860000.0
1       17490000.0
2        2800000.0
3        2600000.0
4        1490000.0
           ...
2720    12500000.0
2721     8671875.0
2722     1400000.0
2723     2915000.0
2724     1045000.0
Name: sell_price, Length: 2725, dtype: float64

### ดู corretion

In [115]:
Lr =LinearRegression().fit(x_train,y_train)
print("LR coefficient is", Lr.coef_)
print("LR intercept is", Lr.intercept_)

LR coefficient is [ 1.51439359e+06 -4.55239330e+05 -4.85034054e-03  2.82997805e+06
 -9.70095814e+06  2.54487105e+05 -8.00461090e+03 -2.36735531e+06
 -1.68205098e+06 -3.05217370e+06 -6.74516431e+04  4.19586665e+03]
LR intercept is 12838893.101298517

In [116]:
print("Train set accuracy = " + str(Lr.score(x_train, y_train)))

Train set accuracy = 0.007207958504754863

### จากการทดสอบพบว่าโมเดล เท่ากับ 0.07 มีความแม้นยำเท่ากับ 0.07% ทำการจัดการข้อมูลอีกครั้ง

In [57]:
data_fn.describe()

,Unnamed: 0,land wide(m),zip_code,number_of_rai,number_of_ngan,number_of_va,construct_year,model,sell_price,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area
count,2725.000000,2725.000000,2.725000e+03,2725.000000,2725.000000,2725.000000,2725.0,2725.0,2.725000e+03,2725.000000,2725.000000,2725.000000,2725.000000,2725.000000,2725.000000
mean,1362.000000,6.410528,2.961375e+06,3.561101,0.697982,44.054606,0.0,0.0,2.826899e+07,0.548991,0.775780,1.086972,0.866422,0.640734,436.669244
std,786.784066,31.194369,1.083462e+08,15.905963,4.361107,58.956727,0.0,0.0,7.699487e+08,12.385403,1.663672,2.005168,1.353108,6.012813,6971.517395
min,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,681.000000,0.000000,0.000000e+00,0.000000,0.000000,5.000000,0.0,0.0,1.424000e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1362.000000,0.000000,4.000000e+04,0.000000,0.000000,35.000000,0.0,0.0,2.583000e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2043.000000,0.000000,4.000000e+04,0.000000,1.000000,66.000000,0.0,0.0,4.900000e+06,0.000000,2.000000,2.000000,2.000000,0.000000,84.000000
max,2724.000000,420.000000,4.000040e+09,458.000000,145.000000,1656.000000,0.0,0.0,4.000000e+10,347.000000,37.000000,40.000000,16.000000,288.000000,232000.000000

In [58]:
data1_train=data_fn.iloc[:,[True,True,True,True,True,True,True,True,True,True,True,True,True,]]

IndexError: ignored

In [60]:
data1_train= data_fn.iloc[:,[False,False,False,False,False,True,False,True,False,False,False,False,True,True,False,False,False,False,False,False,False,False,True,True,True,False,False,True,True,True,True,True,True,True,False,False,True,False,False,False,False]]

In [61]:
data1_train

,district,property_type,land wide(m),land long(m),number_of_rai,number_of_ngan,number_of_va,sell_price,number_of_unit,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,usable_area,furniture
0,เมืองขอนแก่น,บ้านเดี่ยว,0.0,0,0.0,0.0,98.4,2860000.0,0.0,0.0,0.0,0.0,0.0,0.0,ไม่ระบุ
1,เมืองขอนแก่น,ที่ดิน,24.0,69.0,3.0,0.0,72.0,17490000.0,0.0,0.0,0.0,0.0,0.0,0.0,ไม่ระบุ
2,เมืองขอนแก่น,บ้านเดี่ยว,0.0,0,0.0,0.0,52.0,2800000.0,0.0,1.0,3.0,2.0,1.0,208.0,"ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่อ..."
3,เมืองขอนแก่น,บ้านเดี่ยว,0.0,0,0.0,0.0,40.0,2600000.0,0.0,2.0,3.0,3.0,3.0,145.0,ไม่มี
4,เมืองขอนแก่น,บ้านเดี่ยว,0.0,0,0.0,0.0,50.0,1490000.0,0.0,1.0,2.0,2.0,3.0,114.0,ไม่ระบุ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,เมืองขอนแก่น,บ้านเดี่ยว,0.0,0,0.0,0.0,135.0,12500000.0,0.0,2.0,5.0,6.0,5.0,0.0,ตกแต่งครบ
2721,บ้านแฮด,ที่ดิน,0.0,0,11.0,2.0,25.0,8671875.0,0.0,0.0,0.0,0.0,0.0,4625.0,0
2722,เมืองขอนแก่น,บ้านเดี่ยว,0.0,0,0.0,0.0,58.0,1400000.0,0.0,0.0,0.0,0.0,0.0,0.0,ไม่ระบุ
2723,เมืองขอนแก่น,บ้านเดี่ยว,0.0,0,0.0,0.0,78.0,2915000.0,0.0,0.0,0.0,0.0,0.0,0.0,ไม่ระบุ
2724,พล,บ้านเดี่ยว,0.0,0,0.0,0.0,32.0,1045000.0,0.0,1.0,0.0,0.0,0.0,0.0,ไม่ระบุ

In [ ]:
xx1_train=